@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input,
button {
  outline: none;
}

.container {
  max-width: 1170px;
  margin: 0px auto;
}

.booking {
  z-index: 3;
}

.korzinka-hover-ul {
  padding: 0 15px 15px 15px;
}
.korzinka-hover-ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7px;
}
.korzinka-hover-ul li img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
}
.korzinka-hover-ul li #hoverDec {
  font-size: 15px;
  width: 45px;
  text-align: center;
}
.korzinka-hover-ul li #hoverDel {
  background-color: rgb(244, 54, 54);
}

.header-all {
  background-color: #333333;
}

.header-top {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 35px;
  height: 150px;
}

.header-top-inner:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-top-inner:nth-child(1) p {
  font-family: "Montserrat";
  font-size: 17px;
  text-transform: capitalize;
  text-decoration: none;
  color: grey;
  font-weight: 500;
  line-height: none;
}

.header-top-select {
  background-color: inherit;
  color: white;
  border: none;
  font-family: "Montserrat";
  font-size: 14px;
  text-transform: capitalize;
  text-decoration: none;
  color: grey;
  font-weight: 500;
  line-height: inherit;
}

.header-top-inner-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header-top-inner-flex a {
  font-family: "Montserrat";
  font-size: 17px;
  text-transform: capitalize;
  text-decoration: none;
  color: grey;
  font-weight: 500;
  line-height: inherit;
}

.header-top-inner-korzinka {
  position: relative;
}

.header-top-korzinka-flex {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #00c8c8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  padding: 3px 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}
.header-top-korzinka-flex p {
  font-family: "Montserrat";
  font-size: 14px;
  text-transform: capitalize;
  text-decoration: none;
  color: white;
  font-weight: 300;
  line-height: inherit;
}

.header-top-korzinka-hover {
  position: absolute;
  display: none;
  background-color: white;
  padding: 7px 0;
  width: 250px;
  top: 40px;
  left: 50%;
  border-radius: 3px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: rgb(100, 99, 99) 0px 0px 5px 0px;
          box-shadow: rgb(100, 99, 99) 0px 0px 5px 0px;
  -webkit-transition: 0.5s all linear;
  transition: 0.5s all linear;
  z-index: 5;
}
.header-top-korzinka-hover p {
  font-family: "Montserrat";
  font-size: 14px;
  text-transform: capitalize;
  text-decoration: none;
  color: #222;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  padding: 10px 0;
}
.header-top-korzinka-hover .header-korzinka-hover-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 18px;
}
.header-top-korzinka-hover button {
  font-family: "Montserrat";
  font-size: 14px;
  text-transform: capitalize;
  text-decoration: none;
  color: white;
  font-weight: 300;
  line-height: 15px;
  background-color: #00c8c8;
  border: none;
  padding: 5px 7px;
}

.header-top-inner-korzinka:hover .header-top-korzinka-hover {
  display: block;
}

.header-main {
  height: 500px;
}
.header-main-logo {
  text-align: center;
  margin: 25px 0;
}
.header-main-logo a {
  text-decoration: none;
}
.header-main-logo span:nth-child(1) {
  font-family: "Montserrat";
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: #222;
  font-weight: 500;
  line-height: inherit;
}
.header-main-logo span:nth-child(2) {
  font-family: "Montserrat";
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: #222;
  font-weight: 300;
  line-height: inherit;
}

.header-menu {
  position: relative;
  height: 400px;
  overflow: hidden;
}
.header-menu input[type=checkbox] {
  display: none;
}
.header-menu input[type=checkbox]:checked ~ .header-menu-list {
  left: 0%;
}
.header-menu .menu-nav-label {
  position: absolute;
  left: 90%;
  font-size: 25px;
}
.header-menu-list {
  position: absolute;
  top: 10%;
  left: 100%;
  width: 100%;
  height: 360px;
  text-align: center;
  color: white;
  padding: 25px 0 0px 0;
  background-color: #333333;
  -webkit-transition: 0.5s all linear;
  transition: 0.5s all linear;
  z-index: 2;
}
.header-menu-list li {
  list-style: none;
}
.header-menu-list li a {
  font-family: "Montserrat";
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-weight: 400;
  line-height: 40px;
}
.header-menu-list li p {
  font-family: "Montserrat";
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-weight: 400;
  line-height: 40px;
}

.header-menu-list-search {
  padding-bottom: 20px;
  position: relative;
  width: 181px;
  height: 28px;
  margin: auto;
}
.header-menu-list-search input {
  border: 1px solid #e7e7e7;
  padding: 5px 10px;
  font-family: "Montserrat";
  outline: none;
}
.header-menu-list-search label {
  position: absolute;
  font-size: 17px;
  left: 88%;
  top: 20%;
}

.header-menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 40px;
  position: absolute;
  left: 100%;
  -webkit-transition: 0.5s all linear;
  transition: 0.5s all linear;
  background-color: #333333;
  width: 100%;
  top: 0;
  height: 100%;
  padding-top: 125px;
}
.header-menu-item ul {
  position: absolute;
  left: 330px;
  background-color: #333333;
  height: 100%;
  top: 0;
  width: 100%;
  padding-top: 40px;
  -webkit-transition: 0.5s all linear;
  transition: 0.5s all linear;
}
.header-menu-item .header-menu-item-formal {
  padding-top: 50px !important;
}
.header-menu-item .header-menu-item-ourbooks,
.header-menu-item .header-menu-item-mybooks {
  padding-top: 80px;
}
.header-menu-item li:hover a {
  color: #00c8c8;
}
.header-menu-item input[id=casual]:checked + .header-menu-item-casuals {
  left: 0;
}
.header-menu-item input[id=casuals]:checked + .header-menu-item-casuals {
  left: 0;
}
.header-menu-item input[id=formal]:checked + .header-menu-item-formal {
  left: 0;
}
.header-menu-item input[id=formals]:checked + .header-menu-item-formal {
  left: 0;
}
.header-menu-item input[id=ourbook]:checked + .header-menu-item-ourbooks {
  left: 0;
}
.header-menu-item input[id=mybook]:checked + .header-menu-item-mybooks {
  left: 0;
}
.header-menu-item label {
  font-family: "Montserrat";
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-weight: 400;
  line-height: inherit;
}

.men-input:checked + .header-menu-item {
  left: 0;
}

.women-input:checked + .header-menu-item {
  left: 0;
}

.book-input:checked + .header-menu-item {
  left: 0;
}

.men-cancel,
.women-cancel,
.book-cancel {
  position: absolute;
  left: 90%;
  top: 10px;
  line-height: 40px;
  font-size: 25px !important;
  font-weight: 200 !important;
}

.casual-cancel,
.formal-cancel,
.ourbook-cancel,
.mybook-cancel {
  position: absolute;
  left: 90%;
  top: 10px;
  padding-bottom: 25px;
  font-size: 25px !important;
  font-weight: 200 !important;
}

.header-menu-item-discount {
  width: 80%;
  margin: 10px auto auto auto;
}
.header-menu-item-discount p {
  background: -webkit-gradient(linear, left top, right top, from(black), to(aqua));
  background: linear-gradient(to right, black, aqua);
  background-size: 200% 100%;
  padding: 0px 5px;
  -webkit-animation: colorAnimation 4s infinite;
          animation: colorAnimation 4s infinite;
}

@-webkit-keyframes colorAnimation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes colorAnimation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
.header-menu-display {
  background: url(../img/bannerBg.png), rgb(248, 248, 248);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  z-index: 0;
  height: 360px;
  top: -72%;
}
.header-menu-display::before {
  content: "";
  background: #333;
  opacity: 0.7;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.header-menu-display p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: "Montserrat";
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  line-height: 40px;
  z-index: 1;
}
.header-menu-display span {
  font-weight: 700;
}

.main-block-item {
  position: relative;
  margin-top: 15px;
}
.main-block-item-photo img {
  width: 320px;
  height: 400px;
}

.main-block-item-text {
  all: unset;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 2;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 400;
  color: #9a9a9a;
}
.main-block-item-text sup {
  top: -0.5em;
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.main-block-item-inner {
  position: absolute;
  top: 20px;
  padding: 0 15px;
}
.main-block-item-inner p:nth-of-type(2) {
  font-family: "Montserrat";
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  color: #575153;
  font-weight: 400;
  line-height: 30px;
}
.main-block-item-inner p:nth-child(3),
.main-block-item-inner p:nth-child(4) {
  margin: 15px 0;
  font-family: "Roboto";
  font-size: 15px;
  text-transform: none;
  text-decoration: none;
  color: #575153;
  font-weight: 400;
  line-height: 20px;
}

.main-item-inner-logo {
  font-family: "Montserrat";
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #575153;
  font-weight: 700;
  line-height: inherit;
}
.main-item-inner-logo span {
  font-family: "Montserrat";
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #575153;
  font-weight: 400;
  line-height: inherit;
}
.main-item-inner-view {
  display: inline-block;
  margin-top: 20px;
  border: 2px solid #737373;
  padding: 10px 0;
  text-align: center;
  font-family: "Montserrat";
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #777777;
  font-weight: 600;
  line-height: inherit;
  -webkit-transition: 0.5s all linear;
  transition: 0.5s all linear;
}
.main-item-inner-view:hover {
  color: white;
  border-color: #00c8c8;
  background: #00c8c8;
}

.look .container {
  padding: 0 15px;
}

.look-block-items {
  background: #f8f8f8;
  padding: 20px;
  margin-top: 20px;
}

.look-items-inner-logo {
  font-family: "Montserrat";
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #777777;
  font-weight: 600;
  line-height: 30px;
}
.look-items-inner-usual {
  font-family: "Montserrat";
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #777777;
  font-weight: 400;
  line-height: 40px;
}
.look-items-inner-text {
  font-family: "Roboto";
  font-size: 15px;
  text-transform: none;
  text-decoration: none;
  color: #777777;
  font-weight: 400;
  line-height: 20px;
}
.look-items-inner-view {
  display: block;
  margin-top: 20px;
  border: 3px solid #777777;
  width: 150px;
  padding: 10px 0;
  text-align: center;
  font-family: "Montserrat";
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #777777;
  font-weight: 600;
  line-height: inherit;
  -webkit-transition: 0.5s all linear;
  transition: 0.5s all linear;
}
.look-items-inner-view:hover {
  color: white;
  border-color: #00c8c8;
  background: #00c8c8;
}

.footer {
  margin-top: 50px;
}

.footer-acc {
  background-color: #333333;
  padding: 20px 15px 50px 15px;
}
.footer-acc input {
  display: none;
}
.footer-acc input:checked ~ .footer-acc-items-things {
  height: 240px;
  padding: 30px 0;
}
.footer-acc input:checked ~ label::before {
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
  top: 3px;
}
.footer-acc input:checked ~ label::after {
  left: -11px;
  top: 3px;
  -webkit-transform: rotate(-140deg);
          transform: rotate(-140deg);
}

.footer-acc-items {
  padding: 20px 0;
  border-bottom: 1px solid white;
}
.footer-acc-items label {
  cursor: pointer;
  font-family: "Montserrat";
  font-size: 13px;
  text-transform: none;
  text-decoration: none;
  color: white;
  font-weight: 600;
  line-height: inherit;
  position: relative;
  width: 100%;
  left: 10%;
  display: inline-block;
  width: 135px;
}
.footer-acc-items label::before {
  position: absolute;
  content: "";
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  left: -15%;
  top: 4px;
  width: 1px;
  height: 15px;
  background-color: white;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}
.footer-acc-items label::after {
  position: absolute;
  content: "";
  -webkit-transform: rotate(-55deg);
          transform: rotate(-55deg);
  left: -15%;
  top: -4px;
  width: 1px;
  height: 15px;
  background-color: white;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}
.footer-acc-items-things {
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.5s all linear;
  transition: 0.5s all linear;
}
.footer-acc-items-things li {
  list-style: none;
}
.footer-acc-items-things a {
  font-family: "Montserrat";
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  color: white;
  font-weight: 400;
  line-height: 35px;
  -webkit-transition: 0.5s all linear;
  transition: 0.5s all linear;
}
.footer-acc-items-things a:hover {
  color: #00c8c8;
}
.footer-acc-items-things p {
  font-family: "Montserrat";
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  color: white;
  font-weight: 400;
  line-height: 35px;
  -webkit-transition: 0.5s all linear;
  transition: 0.5s all linear;
}
.footer-acc-items-things p:hover {
  color: #00c8c8;
}

.footer-main-award {
  background-color: #333333;
  width: 80%;
  margin: 50px auto 0 auto;
  padding: 20px 10px;
}
.footer-main-award p {
  text-align: center;
  font-family: "Montserrat";
  font-size: 16px;
  text-transform: none;
  text-decoration: none;
  color: white;
  font-weight: 600;
  line-height: inherit;
}
.footer-main-icons {
  background-color: #00c8c8;
  width: 80%;
  margin: 50px auto 0 auto;
  padding: 25px 10px;
  text-align: center;
}
.footer-main-icons a {
  color: white;
  text-decoration: none;
}
.footer-main-icons i {
  margin-right: 10px;
  font-size: 20px;
}

.footer-foot {
  margin-top: 40px;
  background-color: #333333;
  text-align: center;
  padding-bottom: 20px;
}
.footer-foot .footer-foot-avenue {
  padding: 15px 0;
}
.footer-foot p {
  font-family: "Montserrat";
  font-size: 15px;
  text-transform: none;
  text-decoration: none;
  color: #737373;
  font-weight: 400;
  line-height: 25px;
}

@media only screen and (min-width: 768px) {
  .header-top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 15px;
    height: 70px;
  }
  .header-top-inner:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 80px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header-top-inner-flex {
    width: 210px;
  }
  .header-main-logo {
    position: absolute;
    margin: 0;
    text-align: start;
    left: 92px;
    top: 94px;
  }
  .header-menu .menu-nav-label {
    top: 30px;
    left: 92%;
  }
  .header-top-korzinka-flex {
    width: 120px;
  }
  .header-top-korzinka-hover {
    left: -36px;
  }
  .header-menu input[type=checkbox]:checked ~ .header-menu-list {
    left: 60%;
  }
  .header-menu-list {
    width: 40%;
    top: 80px;
  }
  .header-menu-display {
    top: -64%;
  }
  .main-block {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: start;
  }
  .main-block-item {
    width: 190px;
  }
  .main-block-item img {
    width: 380px;
    height: 400px;
  }
  .main-block-item:nth-child(3), .main-block-item:nth-child(8) {
    width: 400px;
  }
  .main-block-item:nth-child(3) img, .main-block-item:nth-child(8) img {
    width: 390px;
    height: 400px;
  }
  .main-block-item:nth-child(3) .main-block-item-inner, .main-block-item:nth-child(8) .main-block-item-inner {
    top: 5px;
  }
  .look .container {
    padding: 0;
  }
  .look-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 8px;
  }
  .look-block-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    width: 370px;
    height: 300px;
    gap: 20px;
  }
  .look-block-items-photo img {
    width: 120px;
    height: 210px;
  }
  .footer .container {
    padding: 0;
  }
  .footer-acc-items label {
    left: 4%;
  }
  .footer-acc input:checked ~ label::after {
    left: -11.1px;
  }
  .footer-acc-items-things {
    margin-left: 29px;
  }
  .footer-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .footer-main-award {
    width: 40%;
  }
  .footer-main-icons {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-foot {
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media only screen and (min-width: 1024px) {
  .header-top {
    height: 50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-top-inner:nth-child(2) {
    margin-right: 5%;
    gap: 120px;
  }
  .header-top-korzinka-flex {
    height: 54px;
    top: -12px;
    width: 150px;
    gap: 15px;
  }
  .header-top-korzinka-hover {
    width: 450px;
    padding: 20px;
    background-color: rgb(248, 248, 248);
  }
  .header-top-korzinka-hover p {
    font-size: 19px;
  }
  .header-top-korzinka-hover #clear {
    font-size: 18px;
  }
  .header-top-korzinka-hover #buyItems {
    font-size: 18px;
  }
  .korzinka-hover-ul {
    padding-top: 20px;
  }
  .korzinka-hover-ul li img {
    width: 70px;
    height: 70px;
  }
  .korzinka-hover-ul li #hoverDec {
    text-align: center;
    font-size: 20px;
  }
  .korzinka-hover-ul li button {
    padding: 12px;
    font-size: 19px;
  }
  .header-korzinka-hover-btn {
    gap: 70px;
  }
  .header-korzinka-hover-btn button {
    padding: 10px 30px;
  }
  .header-main {
    height: 610px;
  }
  .header-main-flex {
    padding-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .header-main-logo {
    position: static;
    margin: 0 0 0 17px;
    height: 30px;
  }
  .header-main-logo span:nth-child(1) {
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(34, 34, 34);
    font-size: 27px;
  }
  .header-main-logo span:nth-child(2) {
    text-transform: uppercase;
    font-weight: 400;
    color: black;
    font-size: 27px;
  }
  .menu-nav-label {
    display: none;
  }
  .header-menu {
    overflow: visible;
  }
  .header-menu-list {
    position: static;
    background: inherit;
    width: 880px;
    padding: 0;
    height: 50px;
    -webkit-transition: none;
    transition: none;
    margin-left: 6%;
  }
  .header-menu-list li {
    display: inline-block;
    margin-right: 35px;
  }
  .header-menu-list li:nth-child(1) {
    margin-right: 85px !important;
  }
  .header-menu-list li p,
  .header-menu-list li a {
    color: black;
    line-height: 30px;
    font-weight: 600;
    cursor: pointer;
  }
  .header-menu-list li p:hover,
  .header-menu-list li a:hover {
    color: #00c8c8;
    -webkit-transition: 0.5s all linear;
    transition: 0.5s all linear;
  }
  .header-menu-list-search label {
    left: 87%;
  }
  .men-hover {
    padding-bottom: 15px;
  }
  .men-hover label {
    position: relative;
  }
  .men-hover label p::before {
    content: "\f078";
    font-family: "Font Awesome 6 Free";
    position: absolute;
    font-weight: 900;
    font-size: 12px;
    color: #000000;
    top: 20px;
    left: -16px;
    z-index: 4;
  }
  .women-hover {
    padding-bottom: 15px;
  }
  .women-hover label {
    position: relative;
  }
  .women-hover label p::before {
    content: "\f078";
    font-family: "Font Awesome 6 Free";
    position: absolute;
    font-weight: 900;
    font-size: 12px;
    color: #000000;
    top: 20px;
    left: -28px;
    z-index: 4;
  }
  .book-hover {
    padding-bottom: 15px;
  }
  .book-hover label {
    position: relative;
  }
  .book-hover label a::before {
    content: "\f078";
    font-family: "Font Awesome 6 Free";
    position: absolute;
    font-weight: 900;
    font-size: 12px;
    color: #000000;
    top: 20px;
    left: 0px;
    z-index: 4;
  }
  .men-input:checked + .header-menu-item {
    left: 10%;
  }
  .women-input:checked + .header-menu-item#women-list {
    left: 15%;
  }
  .book-input:checked + .header-menu-item#book-list {
    left: 50%;
  }
  .men-hover:hover .header-menu-item#men-list {
    display: block;
  }
  .men-hover:hover .header-menu-item#men-list .header-menu-list-word {
    color: #00c8c8;
  }
  .women-hover:hover .header-menu-item#women-list {
    display: block;
  }
  .women-hover:hover .header-menu-item#women-list .header-menu-list-word {
    color: #00c8c8;
  }
  .book-hover:hover .header-menu-item#book-list {
    display: block;
  }
  .header-menu-item {
    display: none;
    top: 40px;
    left: 10%;
    width: 450px;
    background-color: rgb(248, 248, 248);
    -webkit-box-shadow: rgba(0, 0, 0, 0.14) 0px 17px 24px;
            box-shadow: rgba(0, 0, 0, 0.14) 0px 17px 24px;
    height: 480px;
    padding: 30px 15px 0 15px;
    z-index: 2;
    line-height: 0%;
  }
  .header-menu-item-in label {
    color: black;
    font-weight: 600;
  }
  .header-menu-item#women-list {
    left: 15%;
  }
  .header-menu-item#book-list {
    top: 47px;
    left: 50%;
    padding: 30px 35px 0 20px;
    height: 420px;
  }
  .header-menu-item#book-list ul {
    left: 250px;
  }
  .header-menu-item#book-list .header-menu-item-flex {
    margin-left: -1.7pc;
  }
  .header-menu-item#book-list .header-menu-item-discount p {
    width: 385px;
    font-size: 34px !important;
    line-height: 55px !important;
  }
  .header-menu-item-casuals {
    left: 35px !important;
    width: 48% !important;
  }
  .header-menu-item-casuals li {
    display: block;
    text-align: start;
  }
  .header-menu-item-casuals li a {
    font-size: 12px;
    color: #737373 !important;
  }
  .header-menu-item-formal {
    width: 10% !important;
    margin-top: -10px;
  }
  .header-menu-item-formal li {
    display: block;
    text-align: start;
  }
  .header-menu-item-formal li a {
    font-size: 12px;
    color: #737373 !important;
  }
  #formal-word {
    margin-left: -60px;
  }
  .header-menu-item ul {
    background: inherit;
    top: 30px;
    left: 260px;
  }
  .header-menu-item-discount p {
    background: #333333;
    color: white !important;
    font-size: 35px !important;
    line-height: 50px !important;
    font-weight: 600 !important;
    width: 380px;
    padding: 35px 35px;
    margin: 30px 0 0 -22px;
  }
  #formal-discount {
    display: none;
  }
  .header-menu-item-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: -5.7pc;
  }
  .men-cancel,
  .women-cancel,
  .book-cancel,
  .casual-cancel,
  .formal-cancel,
  .ourbook-cancel,
  .mybook-cancel {
    display: none;
  }
  .header-menu-item-ourbooks {
    padding-top: 60px !important;
    left: 35px !important;
    width: 48% !important;
  }
  .header-menu-item-ourbooks li {
    display: block;
    text-align: start;
  }
  .header-menu-item-ourbooks li a {
    font-size: 12px;
    color: #737373 !important;
  }
  .header-menu-item-mybooks {
    width: 40% !important;
    padding-top: 60px !important;
  }
  .header-menu-item-mybooks li {
    display: block;
    text-align: start;
  }
  .header-menu-item-mybooks li a {
    font-size: 12px;
    color: #737373 !important;
  }
  .header-menu-display {
    height: 450px;
    top: -55%;
  }
  .header-menu-display p:nth-child(1) {
    font-size: 48px;
    line-height: 35px;
  }
  .header-menu-display p:nth-child(2) {
    font-size: 30px;
    margin-top: 35px;
  }
  .main-block {
    all: unset;
    padding: 0 50px;
    margin-top: 190px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 500px);
  }
  .main-block .main-block-item {
    all: unset;
    position: relative;
  }
  .main-block .main-block-item:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .main-block .main-block-item:nth-child(8) {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .main-block .main-block-item-photo {
    all: unset;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-block .main-block-item-photo img {
    all: unset;
    display: block;
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main-block .main-block-item-inner {
    top: 61px !important;
  }
  .main-block .main-block-item-inner .main-item-inner-logo {
    font-weight: 700;
    font-size: 48px;
  }
  .main-block .main-block-item-inner .main-item-inner-logo span {
    font-size: 48px;
  }
  .main-block .main-block-item-inner p:nth-child(2) {
    margin: 16px 0;
  }
  .main-block .main-block-item-inner p:nth-child(3) {
    width: 60%;
  }
  .main-block .main-block-item-inner p:nth-child(4) {
    margin: 20px 0 25px 0;
    width: 60%;
  }
  .main-block .main-block-item-inner a {
    padding: 19px 42px;
    font-size: 16px;
  }
  .look {
    margin-top: 5%;
  }
  .look .container {
    all: unset;
  }
  .look-block {
    gap: 10px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .look-block-items {
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .look-block-items-photo {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .look-block-items-photo img {
    display: block;
    height: auto;
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    width: auto;
  }
  .look-block-items-inner {
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
  }
  .look-items-inner-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .look-items-inner-logo {
    text-align: right;
    font-size: 30px;
  }
  .look-items-inner-usual {
    text-align: right;
    font-size: 30px;
    margin: 15px 0 10px 0;
  }
  .look-items-inner-text {
    text-align: right;
    font-size: 15px;
    line-height: 25px;
  }
  .look-items-inner-view {
    margin-left: 57%;
    font-size: 16px;
    font-weight: 600;
    width: 150px;
    padding: 10px 0;
  }
  .footer {
    margin-top: 123px;
    background: #f8f8f8;
  }
  .footer-acc {
    margin-top: 4%;
    background: #f8f8f8;
  }
  .footer-acc-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-acc-items {
    margin-left: -20px;
    border: none;
  }
  .footer-acc-items label {
    color: #333333;
    font-size: 17px;
    width: 100%;
    margin: 0 0 20px 17px;
  }
  .footer-acc-items label::before, .footer-acc-items label::after {
    display: none;
  }
  .footer-acc-items-things {
    width: 200px;
    height: 210px;
    padding: 0 !important;
  }
  .footer-acc-items-things a {
    color: #222;
    font-size: 15px;
    line-height: 33px;
  }
  .footer-acc-items-things p {
    color: #222;
    font-size: 15px;
  }
  .footer-main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
    margin-top: -80px;
    background: #f8f8f8;
    padding-bottom: 40px;
  }
  .footer-main-award {
    height: 200px;
    padding: 0;
    width: 100%;
    padding-top: 50px;
    margin: 0;
  }
  .footer-main-award p {
    font-size: 30px;
    line-height: 45px;
  }
  .footer-main-award p:nth-child(2) {
    font-weight: 300;
  }
  .footer-main-icons {
    width: 100%;
    height: 200px;
    padding-top: 80px;
    gap: 70px;
    margin: 0;
  }
  .footer-main-icons a i {
    font-size: 35px;
  }
  .footer-foot {
    margin: 0;
    padding: 10px 65px 0 65px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-foot p {
    font-size: 15px;
  }
  .footer-foot-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
  .footer-foot-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 549px;
  }
}