@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1100px;
}

.header {
  position: relative;
  height: 360px;
}
.header-logo {
  text-align: center;
  overflow: hidden;
  margin: 15px auto;
  width: 10em;
}
.header-logo span {
  font-family: "Raleway";
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: 400;
  line-height: inherit;
  display: inline-block;
  position: relative;
  -webkit-animation: letterReplacement 5s infinite;
          animation: letterReplacement 5s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.header-logo span:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.header-logo span:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.header-logo span:nth-child(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.header-logo span:nth-child(4) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.header-logo span:nth-child(5) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.header-logo span:nth-child(6) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
.header-logo span:nth-child(7) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.header-logo span:nth-child(8) {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}
@-webkit-keyframes letterReplacement {
  0% {
    opacity: 1;
  }
  12.5% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  25% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  37.5% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  62.5% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  75% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  87.5% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes letterReplacement {
  0% {
    opacity: 1;
  }
  12.5% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  25% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  37.5% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  62.5% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  75% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  87.5% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.header-block-menu {
  width: 100%;
}
.header-block-menu label span {
  position: absolute;
  right: 15px;
  width: 20px;
  height: 2px;
  top: 14px;
  background-color: black;
  -webkit-transition: 0.5s all linear;
  transition: 0.5s all linear;
}
.header-block-menu label span:nth-child(2) {
  margin-top: 7px;
}
.header-block-menu label span:nth-child(3) {
  margin-top: 14px;
}
.header-block-menu input {
  display: none;
}
.header-block-menu input:checked ~ ul {
  bottom: 19%;
  opacity: 1;
}
.header-block-menu input:checked ~ label span:nth-child(1) {
  -webkit-transform: rotate(675deg);
          transform: rotate(675deg);
  margin-top: 10px;
}
.header-block-menu input:checked ~ label span:nth-child(2) {
  display: none;
}
.header-block-menu input:checked ~ label span:nth-child(3) {
  margin-top: 10px;
  -webkit-transform: rotate(-675deg);
          transform: rotate(-675deg);
}
.header-block-menu ul {
  position: absolute;
  width: 100%;
  height: 250px;
  left: 0%;
  bottom: 115%;
  opacity: 0;
  background-color: #343a40;
  list-style: none;
  text-align: center;
  padding: 60px 0 40px 0;
  -webkit-transition: 0.5s all linear;
  transition: 0.5s all linear;
  z-index: 2;
}
.header-block-menu ul a {
  font-family: "Raleway";
  font-size: 20px;
  text-transform: none;
  text-decoration: none;
  color: white;
  font-weight: 400;
  line-height: 40px;
}
.header-block-menu ul i {
  color: white;
}
.header-block-display {
  position: absolute;
  background: url(../img/brand3.png) no-repeat;
  height: 250px;
  left: 0;
  right: 0;
  width: 100%;
  background-size: 100% 100%;
  z-index: 1;
}
.header-block-display::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.5);
}

.main-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 10px;
}
.main-inner-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}
.main-inner-table p {
  font-family: "Open Sans";
  font-size: 20px;
  text-transform: none;
  text-decoration: none;
  color: #111111;
  font-weight: 800;
  line-height: 45px;
}
.main-inner-table p::after {
  content: ":";
}
.main-inner-local li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5px;
  gap: 10px;
}
.main-inner-local li:nth-child(1) {
  margin-bottom: 30px;
}
.main-inner-local li p {
  font-family: "Open Sans";
  font-size: 20px;
  text-transform: none;
  text-decoration: none;
  color: #6c6c6c;
  font-weight: 400;
  line-height: 35px;
}

@media only screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
  .header-block-menu input:checked ~ ul {
    bottom: 33%;
    z-index: 1;
  }
  .header-block-menu input:checked ~ label span {
    margin-top: -4px !important;
    z-index: 2;
    background: white;
  }
  .header-block-menu label span {
    top: 5px;
  }
  .header-block-menu ul {
    height: 100px;
    padding-top: 45px;
  }
  .header-block-menu ul li {
    display: inline-block;
    margin-right: 15px;
  }
  .header-block-menu ul li:nth-child(2) {
    margin-top: -15px;
  }
  .header-block-display {
    display: none;
  }
  .main-inner {
    display: block;
  }
  .main-inner-table {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 70px;
  }
  .main-inner-table p::after {
    content: "";
  }
  .main-inner-local {
    margin-left: 7%;
  }
  .main-inner-local li {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 85px;
  }
  .main-inner-local li p:nth-child(3) {
    padding-left: 5%;
  }
}
@media only screen and (min-width: 1440px) {
  body {
    background: #f5f5fa;
  }
  .header-logo {
    display: none;
  }
  .header-block-menu label {
    display: none;
  }
  .header-block-menu ul {
    position: fixed;
    height: 100%;
    width: 18%;
    top: 0;
    bottom: 0;
    padding: 15% 0 0 45px;
    opacity: 1;
  }
  .header-block-menu ul li {
    display: block;
    text-align: start;
    line-height: 55px;
  }
  .header-block-menu ul li a {
    font-size: 25px;
  }
  .header-block-menu ul li:nth-child(2) {
    margin-top: 0;
  }
  .main {
    background: #f5f5fa;
    padding: 70px 0 107px 0;
    margin-left: 15%;
    border: none;
  }
  .main-inner-table {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border-bottom: 1px solid #b0b0b0;
    gap: 70px;
  }
  .main-inner-table p {
    font-size: 25px;
  }
  .main-inner-table p:after {
    content: "";
  }
  .main .main-inner-local {
    margin-left: 3%;
  }
  .main .main-inner-local li {
    margin-left: 2%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 15px;
    gap: 210px;
  }
  .main .main-inner-local li p {
    font-size: 23px !important;
  }
  .main .main-inner-local li p:nth-child(2) {
    margin: 0 25px 0 -25px;
  }
  .main .main-inner-local li p:nth-child(3) {
    padding: 0;
  }
}