@import "mixin";
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-top {
    background-color: #333333;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    line-height: 35px;
    height: 150px;
}

.header-top-inner:nth-child(1) {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;

    p {
        @include text('Montserrat', 17px, capitalize, none, grey, 500, none);
    }
}

.header-top-select {
    background-color: inherit;
    color: white;
    border: none;
    @include text('Montserrat', 14px, capitalize, none, grey, 500, inherit);
}

.header-top-inner-flex {
    display: flex;
    justify-content: space-around;

    a {
        @include text('Montserrat', 17px, capitalize, none, grey, 500, inherit);
    }
}

.header-top-inner-korzinka {
    position: relative;
    // width: 50%;
    // margin: auto;
}

.header-top-korzinka-flex {
    position: absolute;
    display: flex;
    background-color: #00c8c8;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 3px 10px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;

    p {
        @include text('Montserrat', 14px, capitalize, none, white, 300, inherit);
    }
}

.header-top-korzinka-hover {
    position: absolute;
    display: none;
    background-color: white;
    padding: 7px 0;
    width: 250px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 10px 14px 45px 12px rgba(0, 0, 0, 0.2);
    transition: 0.5s all linear;
    z-index: 2;

    p {
        @include text('Montserrat', 14px, capitalize, none, grey, 300, none);
        text-align: center;
    }

    .header-korzinka-hover-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 18px;
    }

    button {
        @include text('Montserrat', 14px, capitalize, none, white, 300, none);
        background-color: #00c8c8;
        border: none;
        padding: 5px 7px;
    }

    &::before {
        content: '';
        position: absolute;
        border: 10px solid #fff;
        border-color: transparent transparent white transparent;
        left: 50%;
        transform: translateX(-50%);
        top: -18px;
    }
}

.header-top-korzinka-flex:hover+.header-top-korzinka-hover {
    display: block;
}

.header-main {
    height: 500px;

    &-logo {
        text-align: center;
        margin: 25px 0;

        a {
            text-decoration: none;
        }

        span:nth-child(1) {
            @include text('Montserrat', 22px, capitalize, none, black, 500, inherit);
        }

        span:nth-child(2) {
            @include text('Montserrat', 22px, capitalize, none, grey, 300, inherit);
        }
    }
}

.header-menu {
    position: relative;
    height: 400px;
    overflow: hidden;

    input[type='checkbox'] {
        display: none;

        &:checked~.header-menu-list {
            left: 0%;
        }
    }

    .menu-nav-label {
        position: absolute;
        left: 90%;
        font-size: 25px;
    }

    &-list {
        position: absolute;
        top: 10%;
        left: 100%;
        width: 100%;
        height: 360px;
        text-align: center;
        color: white;
        padding: 25px 0 50px 0;
        background-color: #333333;
        transition: 0.5s all linear;
        z-index: 2;

        li {
            list-style: none;

            a {
                @include text('Montserrat', 14px, uppercase, none, white, 400, 40px);
            }

            p {
                @include text('Montserrat', 14px, uppercase, none, white, 400, 40px);
            }
        }
    }
}

.header-menu-list-search {
    position: relative;
    padding-bottom: 20px;

    input {
        border: 1px solid #e7e7e7;
        padding: 5px 10px;
        font-family: 'Montserrat';
    }

    label {
        position: absolute;
        font-size: 17px;
        left: 71%;
        top: 12%;
    }
}

.header-menu-item {
    display: flex;
    flex-direction: column;
    line-height: 40px;
    position: absolute;
    left: 100%;
    transition: 0.5s all linear;
    background-color: #333333;
    width: 100%;
    top: 0;
    height: 100%;
    padding-top: 125px;

    ul {
        position: absolute;
        left: 330px;
        background-color: #333333;
        height: 100%;
        top: 0;
        width: 100%;
        padding-top: 60px;
        transition: 0.5s all linear;
    }

    .header-menu-item-formal {
        padding-top: 70px !important;
    }

    .header-menu-item-ourbooks,
    .header-menu-item-mybooks {
        padding-top: 80px;
    }

    li:hover {
        a {
            color: #00c8c8;
        }
    }

    input[id="casual"]:checked+.header-menu-item-casuals {
        left: 0
    }

    input[id="casuals"]:checked+.header-menu-item-casuals {
        left: 0
    }

    input[id="formal"]:checked+.header-menu-item-formal {
        left: 0
    }

    input[id="formals"]:checked+.header-menu-item-formal {
        left: 0
    }

    input[id="ourbook"]:checked+.header-menu-item-ourbooks {
        left: 0
    }

    input[id="mybook"]:checked+.header-menu-item-mybooks {
        left: 0
    }

    label {
        @include text('Montserrat', 14px, uppercase, none, white, 400, inherit);
    }
}

.men-input:checked+.header-menu-item {
    left: 0;
}

.women-input:checked+.header-menu-item {
    left: 0;
}

.book-input:checked+.header-menu-item {
    left: 0;
}

.men-cancel,
.women-cancel,
.book-cancel {
    position: absolute;
    left: 90%;
    top: 10px;
    line-height: 40px;
    font-size: 25px !important;
    font-weight: 200 !important;
}

.casual-cancel,
.formal-cancel,
.ourbook-cancel,
.mybook-cancel {
    position: absolute;
    left: 90%;
    top: 10px;
    padding-bottom: 25px;
    font-size: 25px !important;
    font-weight: 200 !important;
}

.header-menu-item-discount {
    width: 80%;
    margin: 10px auto auto auto;

    p {
        background: linear-gradient(to right, black, aqua);
        background-size: 200% 100%;
        padding: 0px 5px;
        animation: colorAnimation 4s infinite;
    }
}

@keyframes colorAnimation {
    0% {
        background-position: left;
    }

    50% {
        background-position: right;
    }

    100% {
        background-position: left;
    }
}

.header-menu-display {
    height: 360px;
    position: relative;
    background: url(../img/bannerBg.png) 100% 100%;
    top: -72%;
    text-align: center;
    padding: 150px 0;
    z-index: 0;

    &::before {
        content: "";
        background: #333;
        opacity: 0.7;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    p {
        z-index: 2;
        @include text('Montserrat', 25px, uppercase, none, white, 400, 40px);
    }

    span {
        font-weight: 700 !important;
    }
}

.main-block-items {
    margin: 15px 0;

    .container {
        padding: 0 10px;
    }

    img {
        max-width: 100%;
    }

    h1 {
        @include text('Montserrat', 17px, none, none, #575153, 700, 35px);
        text-align: start;
    }

    p:nth-child(2) {
        @include text('Open Sans', 13px, none, none, #575153, 400, 20px);
        margin: 10px 0;
    }

    p:nth-child(3) {
        @include text('Roboto', 15px, none, none, #8e8c8c, 400, 20px);
    }

    a {
        @include text('Roboto', 15px, none, none, #00c8c8, 400, 20px);

    }
}

.main-block-items:nth-child(7) {
    display: none;
}

.footer {
    margin-top: 50px;

    .container {
        padding: 0 15px;
    }
}

.footer-acc {
    background-color: #333333;
    padding: 20px 0 50px 0;

    input {
        display: none;
    }

    input:checked~.footer-acc-items-things {
        height: 240px;
        padding: 30px 0;
    }

    input:checked~label::before {
        transform: rotate(140deg);
        top: 3px;
    }

    input:checked~label::after {
        left: -11px;
        top: 3px;
        transform: rotate(-140deg);
    }
}

.footer-acc-items {
    padding: 20px 0;
    border-bottom: 1px solid white;

    label {
        cursor: pointer;
        @include text('Montserrat', 13px, none, none, white, 600, inherit);
        position: relative;
        width: 100%;
        left: 10%;
        display: inline-block;
        width: 135px;

        &::before {
            position: absolute;
            content: '';
            transform: rotate(60deg);
            left: -15%;
            top: 4px;
            width: 1px;
            height: 15px;
            background-color: white;
            transition: 0.3s all linear;
        }

        &::after {
            position: absolute;
            content: '';
            transform: rotate(-55deg);
            left: -15%;
            top: -4px;
            width: 1px;
            height: 15px;
            background-color: white;
            transition: 0.3s all linear;
        }
    }

    &-things {

        height: 0;
        overflow: hidden;
        transition: 0.5s all linear;

        li {
            list-style: none;
        }

        a {
            @include text('Montserrat', 14px, none, none, white, 400, 35px);
            transition: 0.5s all linear;
            ;

            &:hover {
                color: #00c8c8;
            }
        }

        p {
            @include text('Montserrat', 14px, none, none, white, 400, 35px);
            transition: 0.5s all linear;
            ;

            &:hover {
                color: #00c8c8;
            }
        }
    }
}

.footer-main {
    &-award {
        background-color: #333333;
        width: 80%;
        margin: 50px auto 0 auto;
        padding: 20px 10px;

        p {
            text-align: center;
            @include text('Montserrat', 16px, none, none, white, 600, inherit);
        }
    }

    &-icons {
        background-color: #00c8c8;
        width: 80%;
        margin: 50px auto 0 auto;
        padding: 25px 10px;
        text-align: center;

        a {
            color: white;

        }

        i {
            margin-right: 10px;
            font-size: 20px;
        }
    }
}

.footer-foot {
    margin-top: 40px;
    background-color: #333333;
    text-align: center;
    padding-bottom: 20px;

    .footer-foot-avenue {
        padding: 15px 0;
    }

    p {
        @include text('Montserrat', 15px, none, none, #737373, 400, 25px)
    }
}


@media only screen and (min-width:768px) {
    .header-top {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 0 15px;

        &-inner:nth-child(2) {
            display: flex;
            gap: 80px;
            justify-content: space-around;
        }

        &-inner-flex {
            width: 210px;
        }
    }

    .header-top-korzinka-flex {
        width: 120px;
    }

    .header-top-korzinka-hover {
        left: -33px;
    }

    .header-menu input[type=checkbox]:checked~.header-menu-list {
        left: 60%;
    }

    .header-menu-list {
        width: 40%;
    }

    .main-block {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 0px;
    }

    .main-block-items:nth-child(1) {
        grid-area: 1 / 1 / 2 / 2;
    }

    .main-block-items:nth-child(2) {
        grid-area: 1 / 2 / 2 / 3;
    }

    .main-block-items:nth-child(3) {
        grid-area: 2 / 1 / 3 / 2;
    }

    .main-block-items:nth-child(4) {
        grid-area: 2 / 2 / 3 / 3;
    }

    .main-block-items:nth-child(5) {
        grid-area: 3 / 1 / 4 / 2;
    }

    .main-block-items:nth-child(6) {
        grid-area: 3 / 2 / 4 / 3;
    }

    .main-block-items:nth-child(7) {
        display: block;
        grid-area: 4 / 1 / 5 / 2;
    }

    .footer-acc-items label {
        left: 4%;
    }

    .footer-acc input:checked~label::after {
        left: -11.1px;
    }

    .footer-acc-items-things {
        margin-left: 29px;
    }

    .footer-main {
        @include flex(row, space-around, nowrap, center);
        gap: 20px;
    }

    .footer-main-award {
        width: 40%;
    }

    .footer-main-icons {
        width: 40%;
        display: flex;
        text-align: center;
        gap: 20px;
        justify-content: center;
    }

    .footer-foot {
        padding-top: 30px;
        @include flex(row, space-around, nowrap, center);
    }

}

@media only screen and (min-width:1024px) {
    .header-top {
        height: 50px;
        justify-content: space-between;
    }

    .header-top-inner:nth-child(2) {
        margin-right: 10%;
    }

    .header-top-korzinka-flex {
        height: 50px;
        top: -8px;
    }

    .header-main {
        padding-top: 25px;
    }

    .header-main-flex {
        @include flex(row, space-around, nowrap, inherit);
    }

    .header-main-logo {
        flex-basis: 40%;
        text-align: start;
        margin: 0;
    }

    .menu-nav-label {
        display: none;
    }

    .header-menu {
        overflow: visible;
        flex-basis: 50%;
    }

    .header-menu-list {
        position: static;
        left: 300px;
        background: inherit;
        top: -31px;
        width: 750px;
        padding: 0;
        height: 50px;
        transition: none;

        li {
            display: inline-block;
            margin-right: 15px;

            p,
            a {
                color: black;
                line-height: 30px;
                font-weight: 600;
            }
        }
    }

    .header-menu-list-search label {
        left: 87%;
    }

    .men-input:checked+.header-menu-item {
        left: -10%;
    }

    .women-input:checked+.header-menu-item#women-list {
        left: -7%;
    }

    .book-input:checked+.header-menu-item#book-list {
        left: 35%;
    }

    .men-hover:hover .header-menu-item#men-list {
        display: block;
    }

    .women-hover:hover .header-menu-item#women-list {
        display: block;
    }

    .book-hover:hover .header-menu-item#book-list {
        display: block;
    }

    .header-menu-item {
        display: none;
        top: 30px;
        left: -10%;
        width: 450px;
        background-color: white;
        height: 430px;
        padding: 35px 50px 0 50px;
        z-index: 2;
        line-height: 0%;

        &-in {
            label {
                padding-right: 8px;
                color: black;
                font-weight: 600;
            }

        }
    }

    .header-menu-item#women-list {
        left: -7%;
    }

    .header-menu-item#book-list {
        left: 35%;
        padding: 30px 35px 0 35px;
        height: 350px;

        ul {
            left: 250px;
        }


        .header-menu-item-in label {
            padding-right: 25px;
        }

        .header-menu-item-discount p {
            width: 360px;
        }
    }

    .header-menu-item-casuals {
        left: 50px !important;
        width: 48% !important;

        li {
            display: block;
            text-align: start;

            a {
                font-size: 12px;
                color: #737373 !important;
                ;
            }
        }
    }

    #casual-word {
        padding-right: 206px !important;
    }

    .header-menu-item-formal {
        width: 10% !important;
        margin-top: -10px;

        li {
            display: block;
            text-align: start;

            a {
                font-size: 12px;
                color: #737373 !important;
                ;

            }
        }
    }

    .header-menu-item ul {
        background: inherit
    }

    .header-menu-item-discount p {
        background: #333333;
        color: white !important;
        font-size: 30px !important;
        line-height: 35px !important;
        font-weight: 600 !important;
        width: 350px;
        padding: 25px 35px;
        margin: 40px 0 0 -22px;
    }

    #formal-discount {
        display: none;
    }

    .header-menu-item-flex {
        @include flex(row, space-around, nowrap, center);
    }

    .men-cancel,
    .women-cancel,
    .book-cancel,
    .casual-cancel,
    .formal-cancel,
    .ourbook-cancel,
    .mybook-cancel {
        display: none;
    }

    .header-menu-item-ourbooks {
        padding-top: 70px !important;
        left: 50px !important;
        width: 48% !important;

        li {
            display: block;
            text-align: start;

            a {
                font-size: 12px;
                color: #737373 !important;
                ;
            }
        }
    }

    .header-menu-item-mybooks {
        width: 40% !important;
        padding-top: 70px !important;

        li {
            display: block;
            text-align: start;

            a {
                font-size: 12px;
                color: #737373 !important;
                ;

            }
        }
    }

    .header-menu-display {
        height: 420px;
        top: -345px;
    }

    .main {
        margin: 40px auto;

        .container {
            padding: 0 15px;
        }
    }

    .main-block {
        all: unset;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 0px;
        margin: auto;
        width: 1210px
    }

    .main-block-items {
        .container {
            padding: 0;
            width: 590px;
        }
    }

    .main-block-items:nth-child(1) {
        all: unset;
        grid-area: 1 / 1 / 3 / 2;
    }

    .main-block-items:nth-child(2) {
        all: unset;
        grid-area: 1 / 2 / 2 / 3;
    }

    .main-block-items:nth-child(3) {
        all: unset;
        grid-area: 2 / 2 / 4 / 3;
    }

    .main-block-items:nth-child(4) {
        all: unset;
        grid-area: 3 / 1 / 5 / 2;
    }

    .main-block-items:nth-child(5) {
        all: unset;
        grid-area: 4 / 2 / 5 / 3;
    }

    .main-block-items:nth-child(6) {
        all: unset;
        grid-area: 5 / 1 / 6 / 2;
    }

    .main-block-items:nth-child(7) {
        all: unset;
        grid-area: 5 / 2 / 6 / 3;
    }

    .footer-acc {
        margin-top: 4%;
        background: #f8f8f8;

        &-flex {
            display: flex;
            justify-content: center;
            // margin-left: 40px;
        }
    }

    .footer-acc-items {
        margin-left: -35px;

        label {
            color: #333333;
            font-size: 17px;
            width: 100%;
            margin: 0 0 20px 17px;

            &::before,
            &::after {
                display: none;
            }
        }

        &-things {
            width: 200px;
            height: 210px;
            padding: 0 !important;


            a {
                color: #222;
                font-size: 15px;
                line-height: 33px;
            }

            p {
                color: #222;
                font-size: 15px;
            }
        }
    }

    .footer-main {
        justify-content: center;
        gap: 0;
        margin-top: -80px;
    }

    .footer-main-award {
        height: 200px;
        padding: 0;
        width: 40%;
        padding-top: 50px;

        p {
            font-size: 30px;
            line-height: 45px;

            &:nth-child(2) {
                font-weight: 300;
            }
        }
    }

    .footer-main-icons {
        width: 40%;
        height: 200px;
        padding-top: 80px;
        gap: 70px;

        a {
            i {
                font-size: 35px;
            }
        }
    }

    .footer-foot {
        padding: 10px 65px 0 65px;
        justify-content: space-between;

        p {
            font-size: 15px;
        }

        &-flex {
            display: flex;
            gap: 20px;
        }
    }
}