@import "mixin";
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#permLink{
    display: none;
}
.container {
    max-width: 1170px;
    margin: 0px auto;
}

.booking {
    z-index: 3;
}

i[id='booking'] {
    z-index: 0;
}

.modul {
    position: fixed;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;

    &-middle {
        background-color: white;
        width: 230px;
        display: flex;
        flex-direction: column;
        padding: 15px;

        label {
            @include text('Open Sans', 18px, none, none, black, 300, 20px);
        }

        input:nth-child(2) {
            width: 100%;
            margin: 5px auto 10px auto;
            height: 25px;
            border: 1px solid black;
            font-family: "Open Sans", sans-serif;
            padding: 0 5px;
            outline: none;
        }

        input:nth-child(4) {
            width: 100%;
            margin: 5px auto 10px auto;
            height: 25px;
            font-family: "Open Sans", sans-serif;
            padding: 0 5px;
            border: 1px solid black;
            outline: none;

        }
    }

    &-middle-btn {
        display: flex;
        justify-content: space-around;

        button {
            background-color: #00c8c8;
            color: white;
            border: 1px solid #00c8c8;
            padding: 5px;
            cursor: pointer;
            border-radius: 5px;
            font-family: 'Open Sans', sans-serif;

            &:hover {
                background-color: white;
                color: #111111;
            }
        }
    }
}

.korzinka-hover-ul {
    padding: 0 15px 15px 15px;

    li {
        @include flex(row, space-around, nowrap, center);
        margin-top: 7px;

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid black;
        }

        #hoverDec {
            font-size: 15px;
            width: 45px;
            text-align: center;
        }

        #hoverDel {
            background-color: rgb(244, 54, 54);
        }
    }
}

.header-all {
    background-color: #333333;

}

.header-top {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    line-height: 35px;
    height: 150px;
}

.header-top-inner:nth-child(1) {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;

    p {
        @include text('Montserrat', 17px, capitalize, none, grey, 500, none);
    }
}

.header-top-select {
    background-color: inherit;
    color: white;
    border: none;
    @include text('Montserrat', 14px, capitalize, none, grey, 500, inherit);
}

.header-top-inner-flex {
    display: flex;
    justify-content: center;
    gap: 40px;
    a {
        @include text('Montserrat', 12px, capitalize, none, grey, 500, inherit);
    }
    p{
        display: none;
        @include text('Montserrat', 12px, capitalize, none, grey, 500, inherit);
        cursor: pointer;
    }
}

.header-top-inner-korzinka {
    position: relative;

}

.header-top-korzinka-flex {
    position: absolute;
    display: flex;
    background-color: #00c8c8;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 3px 10px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;

    p {
        @include text('Montserrat', 14px, capitalize, none, white, 300, inherit);
    }
}

.header-top-korzinka-hover {
    position: absolute;
    display: none;
    background-color: white;
    padding: 7px 0;
    width: 250px;
    top: 40px;
    left: 50%;
    border-radius: 3px;
    transform: translateX(-50%);
    box-shadow: rgb(100, 99, 99) 0px 0px 5px 0px;
    transition: 0.5s all linear;
    z-index: 2;

    p {
        @include text('Montserrat', 14px, capitalize, none, #222, 300, 20px);
        text-align: center;
        padding: 10px 0;
    }

    .header-korzinka-hover-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 18px;
    }

    button {
        @include text('Montserrat', 14px, capitalize, none, white, 300, 15px);
        background-color: #00c8c8;
        border: none;
        padding: 5px 7px;
    }
}

.header-top-inner-korzinka:hover .header-top-korzinka-hover {
    display: block;
}

.header-main {
    height: 500px;
    background: url(../img/collection1.png), rgb(248, 248, 248);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0% 47%;
    position: relative;
    text-align: center;
    z-index: 0;

    &-logo {
        text-align: center;
        margin: 25px 0;

        a {
            text-decoration: none;
        }

        span:nth-child(1) {
            @include text('Montserrat', 22px, uppercase, none, #222, 500, inherit);
        }

        span:nth-child(2) {
            @include text('Montserrat', 22px, uppercase, none, #222, 300, inherit);
        }
    }
}

.header-menu {
    position: relative;
    height: 400px;
    overflow: hidden;

    input[type='checkbox'] {
        display: none;

        &:checked~.header-menu-list {
            left: 0%;
        }
    }

    .menu-nav-label {
        position: absolute;
        left: 90%;
        font-size: 25px;
    }

    &-list {
        position: absolute;
        top: 10%;
        left: 100%;
        width: 100%;
        height: 360px;
        text-align: center;
        color: white;
        padding: 25px 0 0px 0;
        background-color: #333333;
        transition: 0.5s all linear;
        z-index: 2;

        li {
            list-style: none;
            a {
                @include text('Montserrat', 14px, uppercase, none, white, 400, 40px);
            }

            p {
                @include text('Montserrat', 14px, uppercase, none, white, 400, 40px);
            }
        }
    }
}

.header-menu-list-search {
    padding-bottom: 20px;
    position: relative;
    width: 181px;
    height: 28px;
    margin: auto;
    input {
        border: 1px solid #e7e7e7;
        padding: 5px 10px;
        font-family: 'Montserrat';
        outline: none;
    }

    label {
        position: absolute;
        font-size: 17px;
        left: 88%;
        top: 20%;
    }
}

.header-menu-item {
    display: flex;
    flex-direction: column;
    line-height: 40px;
    position: absolute;
    left: 100%;
    transition: 0.5s all linear;
    background-color: #333333;
    width: 100%;
    top: 0;
    height: 100%;
    padding-top: 125px;

    ul {
        position: absolute;
        left: 330px;
        background-color: #333333;
        height: 100%;
        top: 0;
        width: 100%;
        padding-top: 40px;
        transition: 0.5s all linear;
    }

    .header-menu-item-formal {
        padding-top: 50px !important;
    }

    .header-menu-item-ourbooks,
    .header-menu-item-mybooks {
        padding-top: 80px;
    }

    li:hover {
        a {
            color: #00c8c8;
        }
    }

    input[id="casual"]:checked+.header-menu-item-casuals {
        left: 0
    }

    input[id="casuals"]:checked+.header-menu-item-casuals {
        left: 0
    }

    input[id="formal"]:checked+.header-menu-item-formal {
        left: 0
    }

    input[id="formals"]:checked+.header-menu-item-formal {
        left: 0
    }

    input[id="ourbook"]:checked+.header-menu-item-ourbooks {
        left: 0
    }

    input[id="mybook"]:checked+.header-menu-item-mybooks {
        left: 0
    }

    label {
        @include text('Montserrat', 14px, uppercase, none, white, 400, inherit);
    }
}

.men-input:checked+.header-menu-item {
    left: 0;
}

.women-input:checked+.header-menu-item {
    left: 0;
}

.book-input:checked+.header-menu-item {
    left: 0;
}

.men-cancel,
.women-cancel,
.book-cancel {
    position: absolute;
    left: 90%;
    top: 10px;
    line-height: 40px;
    font-size: 25px !important;
    font-weight: 200 !important;
}

.casual-cancel,
.formal-cancel,
.ourbook-cancel,
.mybook-cancel {
    position: absolute;
    left: 90%;
    top: 10px;
    padding-bottom: 25px;
    font-size: 25px !important;
    font-weight: 200 !important;
}

.header-menu-item-discount {
    width: 80%;
    margin: 10px auto auto auto;

    p {
        background: linear-gradient(to right, black, aqua);
        background-size: 200% 100%;
        padding: 0px 5px;
        animation: colorAnimation 4s infinite;
    }
}

@keyframes colorAnimation {
    0% {
        background-position: left;
    }

    50% {
        background-position: right;
    }

    100% {
        background-position: left;
    }
}

.header-menu-display {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);

    p {
        z-index: 2;
        @include text('Montserrat', 75px, uppercase, none, #575153, 700, 40px);
    }

}

.header-menu-display-link {
    position: absolute;
    top: 300px;
    left: 17%;

    p {

        a {
            padding: 5px 7px;
            @include text('Montserrat', 15px, uppercase, none, #575153, 500, 40px);
            border: 2px solid #575153;

        }
    }

    &:hover {
        p {
            a {
                transition: 0.5s all linear;
                background-color: #00c8c8;
                border-color: #00c8c8;
                color: white;
            }
        }
    }
}

.navigate {
    margin: 50px 0;

    &-block {
        &-inner {
            position: relative;
            margin: 0 0px 15px 0px;

            img {
                max-width: 100%;
            }

            &:hover {
                .navigate-block-hover {
                    display: block;
                }
            }
        }

        .price {
            position: absolute;
            @include text('Montserrat', 25px, none, none, #9a9a9a, 400, 35px);
            margin-left: 20px;
        }

        &-hover {
            position: absolute;
            display: none;
            top: 0;
            background: rgba(51, 49, 49, 0.74);
            height: 100%;
            width: 100%;
            padding-top: 50%;
            transition: 1.0s all linear;

            .name-product {
                text-align: center;
                @include text('Open Sans', 20px, uppercase, none, white, 400, 20px);
            }

            .text-product {
                text-align: center;
                @include text('Open Sans', 18px, none, none, #ffffff, 400, 20px);
                margin-bottom: 10px;
            }
        }

        .navigate-block-inner-focus {
            @include flex(row, center, nowrap, space-around);
            gap: 5px;
            p {
                position: relative;
            
                &::before {
                    display: none;
                    content: '';
                    position: absolute;
                    background: inherit;
                    z-index: 2;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border-radius: 50%;
                }
            }

            i {
                position: relative;
                z-index: 1;
                background-color: #777777;
                color: white;
                padding: 7px;
                border-radius: 50%;



            }
        }
    }
}

.look {
    .container {
        padding: 0 15px;
    }
}

.look-block {
    &-items {
        background: #f8f8f8;
        padding: 20px;
        margin-top: 20px;
    }
}

.look-items-inner {

    &-logo {
        @include text('Montserrat', 20px, uppercase, none, #777777, 600, 30px);
    }

    &-usual {
        @include text('Montserrat', 20px, uppercase, none, #777777, 400, 40px);
    }

    &-text {
        @include text('Roboto', 15px, none, none, #777777, 400, 20px);
    }

    &-view {
        display: block;
        margin-top: 20px;
        border: 3px solid #777777;
        width: 150px;
        padding: 10px 0;
        text-align: center;
        @include text('Montserrat', 15px, uppercase, none, #777777, 600, inherit);
        transition: 0.5s all linear;

        &:hover {
            color: white;
            border-color: #00c8c8;
            background: #00c8c8;
        }
    }
}

.footer {
    margin-top: 50px;
}

.footer-acc {
    background-color: #333333;
    padding: 20px 15px 50px 15px;

    input {
        display: none;
    }

    input:checked~.footer-acc-items-things {
        height: 240px;
        padding: 30px 0;
    }

    input:checked~label::before {
        transform: rotate(140deg);
        top: 3px;
    }

    input:checked~label::after {
        left: -11px;
        top: 3px;
        transform: rotate(-140deg);
    }
}

.footer-acc-items {
    padding: 20px 0;
    border-bottom: 1px solid white;

    label {
        cursor: pointer;
        @include text('Montserrat', 13px, none, none, white, 600, inherit);
        position: relative;
        width: 100%;
        left: 10%;
        display: inline-block;
        width: 135px;

        &::before {
            position: absolute;
            content: '';
            transform: rotate(60deg);
            left: -15%;
            top: 4px;
            width: 1px;
            height: 15px;
            background-color: white;
            transition: 0.3s all linear;
        }

        &::after {
            position: absolute;
            content: '';
            transform: rotate(-55deg);
            left: -15%;
            top: -4px;
            width: 1px;
            height: 15px;
            background-color: white;
            transition: 0.3s all linear;
        }
    }

    &-things {

        height: 0;
        overflow: hidden;
        transition: 0.5s all linear;

        li {
            list-style: none;
        }

        a {
            @include text('Montserrat', 14px, none, none, white, 400, 35px);
            transition: 0.5s all linear;
            ;

            &:hover {
                color: #00c8c8;
            }
        }

        p {
            @include text('Montserrat', 14px, none, none, white, 400, 35px);
            transition: 0.5s all linear;
            ;

            &:hover {
                color: #00c8c8;
            }
        }
    }
}

.footer-main {
    &-award {
        background-color: #333333;
        width: 80%;
        margin: 50px auto 0 auto;
        padding: 20px 10px;

        p {
            text-align: center;
            @include text('Montserrat', 16px, none, none, white, 600, inherit);
        }
    }

    &-icons {
        background-color: #00c8c8;
        width: 80%;
        margin: 50px auto 0 auto;
        padding: 25px 10px;
        text-align: center;

        a {
            color: white;
            text-decoration: none;

        }

        i {
            margin-right: 10px;
            font-size: 20px;
        }
    }
}

.footer-foot {
    margin-top: 40px;
    background-color: #333333;
    text-align: center;
    padding-bottom: 20px;

    .footer-foot-avenue {
        padding: 15px 0;
    }

    p {
        @include text('Montserrat', 15px, none, none, #737373, 400, 25px)
    }
}


@media only screen and (min-width:768px) {
    .header-main {
        background-position: 0 47%;
    }

    .header-top {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 0 15px;
        height: 70px;

        &-inner:nth-child(2) {
            display: flex;
            gap:110px;
            justify-content: space-around;
        }

        &-inner-flex {
            margin-left: -50px;
            width: 120px;
            a,p{
                font-size: 14px;
            }
        }
    }

    .header-main-logo {
        position: absolute;
        margin: 0;
        text-align: start;
        left: 105px;
        top: 50px;
    }

    .header-menu .menu-nav-label {
        top: 50px;
        left: 92%;
    }

    .header-top-korzinka-flex {
        width: 120px;
    }

    .header-top-korzinka-hover {
        left: -36px;
    }

    .header-menu input[type=checkbox]:checked~.header-menu-list {
        left: 60%;
    }

    .header-menu-list {
        width: 40%;
        top: 80px;
    }

    .header-menu-display {
        position: absolute;
        font-size: 150px;
        top: 200px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;

        p {
            font-size: 265px;
            letter-spacing: 20px;
        }
    }

    .header-menu-display-link {
        all: unset;
        position: absolute;
        right: 60px;
    }

    .navigate {
        margin-bottom: 0;
    }

    .navigate-block {
        @include flex(row, center, wrap, center);
        height: 850px;
        gap: 10px;
        

        .price {
            font-size: 18px;
            margin-left: 10px;
        }

        &-inner {
            padding: 0;
            width: 230px;
            height: 410px;

            &:nth-child(1) {
                z-index: 2;
            }

            &:nth-child(2) {
                z-index: 2;
            }

            &:nth-child(3) {
                z-index: 2;
            }

            &:nth-child(4) {
                margin-top: -230px;
                z-index: 1;
            }

            &:nth-child(5) {
                margin-top: -230px;
                z-index: 1;
            }

            &:nth-child(6) {
                margin-top: -230px;
                z-index: 1;
            }

            &:hover {
                transition: 0.8s all linear;
                box-shadow: 10px 14px 45px 12px rgba(0, 0, 0, 0.2);

                .navigate-block-hover {
                    max-height: 125px;
                    box-shadow: 0 3px 7px 2px #d4d3d3;
                }
            }
        }

        &-inner-back {
            img {
                height: 280px;
            }

        }

        &-hover {
            display: block;
            max-height: 0px;
            padding: 0 5px;
            position: static;
            background: white;
            overflow: hidden;
            transition: 0.3s all linear;

            .name-product {
                font-size: 15px;
                color: rgb(106, 106, 106);
            }

            .text-product {
                font-size: 12px;
                color: rgb(127, 127, 127);
            }
        }
    }

    .look {

        // margin-top: 100px;
        .container {
            padding: 0;
        }
    }

    .look-block {
        @include flex(row, center, wrap, start);
        gap: 8px;
    }

    .look-block-items {
        @include flex(row, center, nowrap, start);
        width: 370px;
        height: 300px;
        gap: 20px;

        &-photo {
            img {
                width: 120px;
                height: 210px;
            }
        }
    }
    .footer .container{
        padding: 0;
    }
    .footer-acc-items label {
        left: 4%;
    }

    .footer-acc input:checked~label::after {
        left: -11.1px;
    }

    .footer-acc-items-things {
        margin-left: 29px;
    }

    .footer-main {
        @include flex(row, space-around, nowrap, center);
        gap: 20px;
    }

    .footer-main-award {
        width: 40%;
    }

    .footer-main-icons {
        width: 40%;
        display: flex;
        text-align: center;
        gap: 20px;
        justify-content: center;
        
    }

    .footer-foot {
        padding-top: 30px;
        @include flex(row, space-around, nowrap, center);
    }
}

@media only screen and (min-width:1440px) {
    .modul {
        &-middle {
            width: 300px;
            height: 230px;

            label {
                font-size: 20px;
            }

            input:nth-child(2),
            input:nth-child(3),
            input:nth-child(4) {
                font-size: 17px;
                height: 35px;
                padding: 5px 10px;
            }

            &-btn {
                padding: 10px 0 0 0;

                button {
                    font-size: 22px;
                    padding: 5px 7px 3px 7px;
                }
            }
        }
    }

    .header-top {
        height: 50px;
        justify-content: space-between;
    }

    .header-top-inner:nth-child(2) {
        margin-right: 5%;
        gap: 120px;
    }
    .header-top-inner-flex{
        width: 170px;
    }
    .header-top-korzinka-flex {
        height: 60px;
        top: -12px;
        width: 150px;
        gap: 15px;
    }

    .header-top-korzinka-hover {
        width: 450px;
        padding: 20px;
        background-color: rgb(248, 248, 248);

        p {
            font-size: 19px;
        }

        #clear {
            font-size: 18px;
        }

        #buyItems {
            font-size: 18px;
        }
    }

    .korzinka-hover-ul {
        padding-top: 20px;

        li {
            img {
                width: 70px;
                height: 70px;
            }

            #hoverDec {
                text-align: center;
                font-size: 20px;
            }

            button {
                padding: 12px;
                font-size: 19px;
            }
        }
    }

    .header-korzinka-hover-btn {
        gap: 70px;

        button {
            padding: 10px 30px;
        }
    }

    .header-main {
        height: 920px;
    }

    .header-main-flex {
        padding-top: 40px;
        @include flex(row, space-between, nowrap, start);
    }

    .header-main-logo {
        position: static;
        margin: 0 0 0 17px;
        height: 30px;

        span:nth-child(1) {
            text-transform: uppercase;
            font-weight: 700;
            color: rgb(34, 34, 34);
            font-size: 27px;
        }

        span:nth-child(2) {
            text-transform: uppercase;
            font-weight: 400;
            color: black;
            font-size: 27px;
        }
    }

    .menu-nav-label {
        display: none;
    }

    .header-menu {
        overflow: visible;
    }

    .header-menu-list {
        position: static;
        background: inherit;
        width: 880px;
        padding: 0;
        height: 50px;
        transition: none;
        margin-left: 6%;

        li {
            display: inline-block;
            margin-right: 35px;

            &:nth-child(1) {
                margin-right: 85px !important;
            }

            p,
            a {
                color: black;
                line-height: 30px;
                font-weight: 600;
                cursor: pointer;

                &:hover {
                    color: #00c8c8;
                    transition: 0.5s all linear;
                }
            }
        }
    }

    .header-menu-list-search label {
        left: 87%;
    }

    .men-hover {
        padding-bottom: 15px;

        label {
            position: relative;

            p::before {
                content: "\f078";
                font-family: "Font Awesome 6 Free";
                position: absolute;
                font-weight: 900;
                font-size: 12px;
                color: #000000;
                top: 20px;
                left: -16px;
                z-index: 4;
            }
        }
    }

    .women-hover {
        padding-bottom: 15px;

        label {
            position: relative;

            p::before {
                content: "\f078";
                font-family: "Font Awesome 6 Free";
                position: absolute;
                font-weight: 900;
                font-size: 12px;
                color: #000000;
                top: 20px;
                left: -28px;
                z-index: 4;
            }
        }
    }

    .book-hover {
        padding-bottom: 15px;

        label {
            position: relative;

            a::before {
                content: "\f078";
                font-family: "Font Awesome 6 Free";
                position: absolute;
                font-weight: 900;
                font-size: 12px;
                color: #000000;
                top: 20px;
                left: 0px;
                z-index: 4;
            }
        }
    }

    .men-input:checked+.header-menu-item {
        left: 10%;
    }

    .women-input:checked+.header-menu-item#women-list {
        left: 15%;
    }

    .book-input:checked+.header-menu-item#book-list {
        left: 50%;
    }

    .men-hover:hover .header-menu-item#men-list {
        display: block;

        .header-menu-list-word {
            color: #00c8c8;
        }
    }

    .women-hover:hover .header-menu-item#women-list {
        display: block;

        .header-menu-list-word {
            color: #00c8c8;
        }
    }

    .book-hover:hover .header-menu-item#book-list {
        display: block;
    }

    .header-menu-item {
        display: none;
        top: 40px;
        left: 10%;
        width: 450px;
        background-color: rgb(248, 248, 248);
        box-shadow: rgba(0, 0, 0, 0.14) 0px 17px 24px;
        height: 480px;
        padding: 30px 15px 0 15px;
        z-index: 2;
        line-height: 0%;

        &-in {
            label {
                color: black;
                font-weight: 600;
            }

        }
    }

    .header-menu-item#women-list {
        left: 15%;
    }

    .header-menu-item#book-list {
        top: 47px;
        left: 50%;
        padding: 30px 35px 0 20px;
        height: 420px;

        ul {
            left: 250px;
        }

        .header-menu-item-flex {
            margin-left: -1.7pc;
        }

        .header-menu-item-discount p {
            width: 385px;
            font-size: 34px !important;
            line-height: 55px !important;
        }
    }

    .header-menu-item-casuals {
        left: 35px !important;
        width: 48% !important;

        li {
            display: block;
            text-align: start;

            a {
                font-size: 12px;
                color: #737373 !important;
                ;
            }
        }
    }

    .header-menu-item-formal {
        width: 10% !important;
        margin-top: -10px;

        li {
            display: block;
            text-align: start;

            a {
                font-size: 12px;
                color: #737373 !important;
                ;

            }
        }
    }

    #formal-word {
        margin-left: -60px;
    }

    .header-menu-item ul {
        background: inherit;
        top: 30px;
        left: 260px;
    }

    .header-menu-item-discount p {
        background: #333333;
        color: white !important;
        font-size: 35px !important;
        line-height: 50px !important;
        font-weight: 600 !important;
        width: 380px;
        padding: 35px 35px;
        margin: 30px 0 0 -22px;
    }

    #formal-discount {
        display: none;
    }

    .header-menu-item-flex {
        @include flex(row, space-around, nowrap, center);
        margin-left: -5.7pc;

    }

    .men-cancel,
    .women-cancel,
    .book-cancel,
    .casual-cancel,
    .formal-cancel,
    .ourbook-cancel,
    .mybook-cancel {
        display: none;
    }

    .header-menu-item-ourbooks {
        padding-top: 60px !important;
        left: 35px !important;
        width: 48% !important;

        li {
            display: block;
            text-align: start;

            a {
                font-size: 12px;
                color: #737373 !important;
                ;
            }
        }
    }

    .header-menu-item-mybooks {
        width: 40% !important;
        padding-top: 60px !important;

        li {
            display: block;
            text-align: start;

            a {
                font-size: 12px;
                color: #737373 !important;
                ;

            }
        }
    }

    .header-menu-display {
        top: 430px;
        left: 50%;
        transform: translateX(-50%);

        p {
            font-size: 450px !important;
            font-weight: 700;
            letter-spacing: 100px;
        }

    }

    .header-menu-display-link {
        top: 80%;

        p {
            a {
                width: 350px;
                padding: 18px 23px;
                font-weight: 700;
                font-size: 17px;
                color: #777777;
                border-color: #777777;
            }
        }
    }

    .navigate {
        margin-top: 170px;

        .container {
            all: unset;
        }
    }

    .navigate-block {
        height: 1294px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 500px 173px 220px;
        grid-column-gap: 30px;
        grid-row-gap: 110px;
        align-items: start;
        padding: 0 50px;
        justify-content: center;
        .navigate-block-inner:nth-child(1) {
            z-index: 3;

            .navigate-block-inner-back {
                background-color: #f7f7f7;
            }

            img {
                height: 540px;
            }
        }

        .navigate-block-inner:nth-child(2) {
            z-index: 3;

            .navigate-block-inner-back {
                background-color: #f7f7f7;
            }

            img {
                height: 540px;
            }
        }

        .navigate-block-inner:nth-child(3) {
            z-index: 3;

            .navigate-block-inner-back {
                background-color: #f7f7f7;
            }

            grid-column-start: 3;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 3;

            img {
                width: 600px;
            }

            .navigate-block-hover {
                .text-product {
                    padding: 8px 0;
                }
            }
        }

        .navigate-block-inner:nth-child(4) {
            z-index: 2;

            .navigate-block-inner-back {
                background-color: #f7f7f7;
            }

            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 4;
            margin-top: -30px;

            img {
                width: 600px;
            }

            .navigate-block-hover {
                .text-product {
                    padding: 8px 0;
                }
            }
        }

        .navigate-block-inner:nth-child(5) {
            z-index: 2;

            .navigate-block-inner-back {
                background-color: #f7f7f7;
            }

            grid-column-start: 3;
            grid-column-end: 4;
            margin-top: -186px;

            img {
                height: 585px;
            }
        }

        .navigate-block-inner:nth-child(6) {
            z-index: 2;

            .navigate-block-inner-back {
                background-color: #f7f7f7;
            }

            grid-column-start: 4;
            margin-top: -186px;

            img {
                height: 585px;
            }
        }

        .price {
            font-size: 25px;
            font-weight: 300;
        }

        &-inner {
            all: unset;

            img {
                all: unset;
            }
        }

        &-hover {
            background-color: #fff;
            padding: 0 10px 10px 10px;

            .name-product {
                font-size: 16px;
                line-height: 35px;
            }

            .text-product {
                font-size: 15px;
            }

            #order:hover {
                background-color: #00c8c8;
                transition: 0.5s all linear;
            }

            #like:hover {
                background-color: red;
                transition: 0.5s all linear;
            }

            #booking:hover {
                background-color: rgb(223, 64, 7);
                transition: 0.5s all linear;
            }
        }
    }

    .look {
        margin-top: 5%;

        .container {
            all: unset;
        }
    }

    .look-block {
        gap: 10px;
        flex-wrap: nowrap;
        justify-content: space-between;

        &-items {
            width: 100%;
            height: 100%;
            // all: unset;
            align-items: center;

            &-photo {
                flex-basis: 40%;

                img {
                    display: block;
                    height: auto;
                    max-width: 100%;
                    object-fit: cover;
                    width: auto;
                }
            }

            &-inner {
                flex-basis: 55%;

            }
        }
    }

    .look-items-inner-flex {
        @include flex(row, end, nowrap, center);
        gap: 10px;
    }

    .look-items-inner {


        &-logo {
            text-align: right;
            font-size: 30px;
        }

        &-usual {
            text-align: right;
            font-size: 30px;
            margin: 15px 0 10px 0;
        }

        &-text {
            text-align: right;
            font-size: 15px;
            line-height: 25px;
        }

        &-view {
            margin-left: 57%;
            font-size: 16px;
            font-weight: 600;
            width: 150px;
            padding: 10px 0;
        }
    }

    .footer {
        background: #f8f8f8;
    }

    .footer-acc {
        margin-top: 4%;
        background: #f8f8f8;

        &-flex {
            display: flex;
            justify-content: space-between;
        }
    }

    .footer-acc-items {
        margin-left: -20px;
        border: none;

        label {
            color: #333333;
            font-size: 17px;
            width: 100%;
            margin: 0 0 20px 17px;

            &::before,
            &::after {
                display: none;
            }
        }

        &-things {
            width: 200px;
            height: 210px;
            padding: 0 !important;


            a {
                color: #222;
                font-size: 15px;
                line-height: 33px;
            }

            p {
                color: #222;
                font-size: 15px;
            }
        }
    }

    .footer-main {
        justify-content: center;
        gap: 30px;
        margin-top: -80px;
        background: #f8f8f8;
        padding-bottom: 40px;

    }

    .footer-main-award {
        height: 200px;
        padding: 0;
        width: 100%;
        padding-top: 50px;
        margin: 0;

        p {
            font-size: 30px;
            line-height: 45px;

            &:nth-child(2) {
                font-weight: 300;
            }
        }
    }

    .footer-main-icons {
        width: 100%;
        height: 200px;
        padding-top: 80px;
        gap: 70px;
        margin: 0;

        a {
            i {
                font-size: 35px;
            }
        }
    }

    .footer-foot {
        margin: 0;
        padding: 10px 65px 0 65px;
        justify-content: space-between;

        p {
            font-size: 15px;
        }

        &-flex {
            display: flex;
            gap: 20px;
        }
    }

    .footer-foot-block {
        @include flex(row, space-between, nowrap, center);
        gap: 420px;
    }
}