@import "mixin";
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.booking {
    z-index: 3;
}

i[id='booking'] {
    z-index: 0;
}

.modul {
    position: fixed;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;

    &-middle {
        background-color: white;
        width: 80%;
        border-radius: 18px;
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;

        p {
            text-align: center;
            padding: 10px 0;
            border-top-left-radius: 18px;
            border-top-right-radius: 18px;
            background-color: #111111;
            color: white;
            width: 100%;
            font-family: "Raleway", sans-serif;
        }

        input:nth-child(2) {
            width: 70%;
            margin: 20px auto 10px auto;
            height: 25px;
            border-radius: 5px;
            border: 1px solid #b0b0b0;
            font-family: "Open Sans", sans-serif;
            padding: 0 5px;
        }

        input:nth-child(3) {
            width: 70%;
            margin: 5px auto 10px auto;
            height: 25px;
            font-family: "Open Sans", sans-serif;
            padding: 0 5px;
            border-radius: 5px;
            border: 1px solid #b0b0b0;
        }

        input:nth-child(4) {
            width: 70%;
            margin: 5px auto 10px auto;
            height: 25px;
            font-family: "Open Sans", sans-serif;
            padding: 0 5px;
            border-radius: 5px;
            border: 1px solid #b0b0b0;
        }
    }

    &-middle-btn {
        display: flex;
        justify-content: space-around;

        button {
            background-color: #111111;
            color: white;
            border: 1px solid #111111;
            padding: 5px;
            cursor: pointer;
            border-radius: 5px;
            font-family: 'Open Sans', sans-serif;

            &:hover {
                background-color: white;
                color: #111111;
            }
        }
    }
}

.korzinka-hover-ul{
    padding:0 15px 15px 15px;
    li{
        @include flex(row,space-around,nowrap,center);
        margin-top: 7px;
        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid black;
        }

        #hoverDec{
            font-size: 15px;
            width: 45px;
            text-align: center;
        }
        #hoverDel{
            background-color: rgb(244, 54, 54);
        }
    }
}

.header-top {
    background-color: #333333;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    line-height: 35px;
    height: 150px;
}

.header-top-inner:nth-child(1) {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;

    p {
        @include text('Montserrat', 17px, capitalize, none, grey, 500, none);
    }
}

.header-top-select {
    background-color: inherit;
    color: white;
    border: none;
    @include text('Montserrat', 14px, capitalize, none, grey, 500, inherit);
}

.header-top-inner-flex {
    display: flex;
    justify-content: space-around;

    a {
        @include text('Montserrat', 17px, capitalize, none, grey, 500, inherit);
    }
}

.header-top-inner-korzinka {
    position: relative;

}

.header-top-korzinka-flex {
    position: absolute;
    display: flex;
    background-color: #00c8c8;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 3px 10px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;

    p {
        @include text('Montserrat', 14px, capitalize, none, white, 300, inherit);
    }
}

.header-top-korzinka-hover {
    position: absolute;
    display: none;
    background-color: white;
    padding: 7px 0;
    width: 250px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 10px 14px 45px 12px rgba(0, 0, 0, 0.2);
    transition: 0.5s all linear;
    z-index: 2;

    p {
        @include text('Montserrat', 14px, capitalize, none, grey, 300, none);
        text-align: center;
    }

    .header-korzinka-hover-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 18px;
    }

    button {
        @include text('Montserrat', 14px, capitalize, none, white, 300, none);
        background-color: #00c8c8;
        border: none;
        padding: 5px 7px;
    }

    &::before {
        content: '';
        position: absolute;
        border: 10px solid #fff;
        border-color: transparent transparent white transparent;
        left: 50%;
        transform: translateX(-50%);
        top: -18px;
    }
}

.header-top-inner-korzinka:hover .header-top-korzinka-hover {
    display: block;
}

.header-main {
    height: 500px;

    &-logo {
        text-align: center;
        margin: 25px 0;

        a {
            text-decoration: none;
        }

        span:nth-child(1) {
            @include text('Montserrat', 22px, capitalize, none, black, 500, inherit);
        }

        span:nth-child(2) {
            @include text('Montserrat', 22px, capitalize, none, grey, 300, inherit);
        }
    }
}

.header-menu {
    position: relative;
    height: 400px;
    overflow: hidden;

    input[type='checkbox'] {
        display: none;

        &:checked~.header-menu-list {
            left: 0%;
        }
    }

    .menu-nav-label {
        position: absolute;
        left: 90%;
        font-size: 25px;
    }

    &-list {
        position: absolute;
        top: 10%;
        left: 100%;
        width: 100%;
        height: 360px;
        text-align: center;
        color: white;
        padding: 25px 0 50px 0;
        background-color: #333333;
        transition: 0.5s all linear;
        z-index: 2;

        li {
            list-style: none;

            a {
                @include text('Montserrat', 14px, uppercase, none, white, 400, 40px);
            }

            p {
                @include text('Montserrat', 14px, uppercase, none, white, 400, 40px);
            }
        }
    }
}

.header-menu-list-search {
    position: relative;
    padding-bottom: 20px;

    input {
        border: 1px solid #e7e7e7;
        padding: 5px 10px;
        font-family: 'Montserrat';
    }

    label {
        position: absolute;
        font-size: 17px;
        left: 71%;
        top: 12%;
    }
}

.header-menu-item {
    display: flex;
    flex-direction: column;
    line-height: 40px;
    position: absolute;
    left: 100%;
    transition: 0.5s all linear;
    background-color: #333333;
    width: 100%;
    top: 0;
    height: 100%;
    padding-top: 125px;

    ul {
        position: absolute;
        left: 330px;
        background-color: #333333;
        height: 100%;
        top: 0;
        width: 100%;
        padding-top: 40px;
        transition: 0.5s all linear;
    }

    .header-menu-item-formal {
        padding-top: 50px !important;
    }

    .header-menu-item-ourbooks,
    .header-menu-item-mybooks {
        padding-top: 80px;
    }

    li:hover {
        a {
            color: #00c8c8;
        }
    }

    input[id="casual"]:checked+.header-menu-item-casuals {
        left: 0
    }

    input[id="casuals"]:checked+.header-menu-item-casuals {
        left: 0
    }

    input[id="formal"]:checked+.header-menu-item-formal {
        left: 0
    }

    input[id="formals"]:checked+.header-menu-item-formal {
        left: 0
    }

    input[id="ourbook"]:checked+.header-menu-item-ourbooks {
        left: 0
    }

    input[id="mybook"]:checked+.header-menu-item-mybooks {
        left: 0
    }

    label {
        @include text('Montserrat', 14px, uppercase, none, white, 400, inherit);
    }
}

.men-input:checked+.header-menu-item {
    left: 0;
}

.women-input:checked+.header-menu-item {
    left: 0;
}

.book-input:checked+.header-menu-item {
    left: 0;
}

.men-cancel,
.women-cancel,
.book-cancel {
    position: absolute;
    left: 90%;
    top: 10px;
    line-height: 40px;
    font-size: 25px !important;
    font-weight: 200 !important;
}

.casual-cancel,
.formal-cancel,
.ourbook-cancel,
.mybook-cancel {
    position: absolute;
    left: 90%;
    top: 10px;
    padding-bottom: 25px;
    font-size: 25px !important;
    font-weight: 200 !important;
}

.header-menu-item-discount {
    width: 80%;
    margin: 10px auto auto auto;

    p {
        background: linear-gradient(to right, black, aqua);
        background-size: 200% 100%;
        padding: 0px 5px;
        animation: colorAnimation 4s infinite;
    }
}

@keyframes colorAnimation {
    0% {
        background-position: left;
    }

    50% {
        background-position: right;
    }

    100% {
        background-position: left;
    }
}

.header-menu-display {
    height: 300px;
    position: relative;
    background: url(../img/collection1.png), no-repeat;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 100%;
    top: -72%;
    text-align: center;
    padding: 100px 0 150px 0;
    z-index: 0;

    p {
        z-index: 2;
        @include text('Montserrat', 75px, uppercase, none, #575153, 700, 40px);
    }

    span {
        font-weight: 700 !important;
    }

    p:nth-child(2) {
        margin: 40px 0;

        a {
            padding: 5px 7px;
            @include text('Montserrat', 15px, uppercase, none, #575153, 500, 40px);
            border: 2px solid #575153;

        }
    }
}

.navigate {
    margin: 50px 0;

    &-block {

        &-inner {
            position: relative;
            padding: 0 0px 15px 0px;

            img {
                max-width: 100%;
            }

            &:hover {
                .navigate-block-hover {
                    display: block;
                }
            }
        }

        .price {
            position: absolute;
            @include text('Open Sans', 25px, none, none, #777777, 400, 35px);
            margin-left: 20px;
        }

        &-hover {
            position: absolute;
            display: none;
            top: 0;
            background: rgba(51, 49, 49, 0.74);
            height: 382px;
            width: 100%;
            padding-top: 50%;
            transition: 1.0s all linear;

            p:nth-child(1) {
                text-align: center;
                @include text('Open Sans', 20px, uppercase, none, white, 400, 20px);
            }

            p:nth-child(2) {
                text-align: center;
                @include text('Open Sans', 18px, none, none, #ffffff, 400, 20px);
                margin-bottom: 10px;
            }
        }

        &-inner-focus {
            @include flex(row, center, wrap, space-around);
            gap: 5px;

            i {
                background-color: #777777;
                color: white;
                padding: 7px;
                border-radius: 50%;
            }
        }
    }
}

.look {
    .container {
        padding: 0 15px;
    }
}

.look-block {
    &-items {
        background: #f8f8f8;
        padding: 20px;
        margin-top: 20px;
    }
}

.look-items-inner {

    &-logo {
        @include text('Montserrat', 20px, uppercase, none, #777777, 600, 30px);
    }

    &-usual {
        @include text('Montserrat', 20px, uppercase, none, #777777, 400, 40px);
    }

    &-text {
        @include text('Roboto', 15px, none, none, #777777, 400, 20px);
    }

    &-view {
        display: block;
        margin-top: 20px;
        border: 3px solid #777777;
        width: 150px;
        padding: 10px 0;
        text-align: center;
        @include text('Montserrat', 15px, uppercase, none, #777777, 600, inherit);
        transition: 0.5s all linear;

        &:hover {
            color: white;
            border-color: #00c8c8;
            background: #00c8c8;
        }
    }
}

.footer {
    margin-top: 50px;

    .container {
        padding: 0 15px;
    }
}

.footer-acc {
    background-color: #333333;
    padding: 20px 0 50px 0;

    input {
        display: none;
    }

    input:checked~.footer-acc-items-things {
        height: 240px;
        padding: 30px 0;
    }

    input:checked~label::before {
        transform: rotate(140deg);
        top: 3px;
    }

    input:checked~label::after {
        left: -11px;
        top: 3px;
        transform: rotate(-140deg);
    }
}

.footer-acc-items {
    padding: 20px 0;
    border-bottom: 1px solid white;

    label {
        cursor: pointer;
        @include text('Montserrat', 13px, none, none, white, 600, inherit);
        position: relative;
        width: 100%;
        left: 10%;
        display: inline-block;
        width: 135px;

        &::before {
            position: absolute;
            content: '';
            transform: rotate(60deg);
            left: -15%;
            top: 4px;
            width: 1px;
            height: 15px;
            background-color: white;
            transition: 0.3s all linear;
        }

        &::after {
            position: absolute;
            content: '';
            transform: rotate(-55deg);
            left: -15%;
            top: -4px;
            width: 1px;
            height: 15px;
            background-color: white;
            transition: 0.3s all linear;
        }
    }

    &-things {

        height: 0;
        overflow: hidden;
        transition: 0.5s all linear;

        li {
            list-style: none;
        }

        a {
            @include text('Montserrat', 14px, none, none, white, 400, 35px);
            transition: 0.5s all linear;
            ;

            &:hover {
                color: #00c8c8;
            }
        }

        p {
            @include text('Montserrat', 14px, none, none, white, 400, 35px);
            transition: 0.5s all linear;
            ;

            &:hover {
                color: #00c8c8;
            }
        }
    }
}

.footer-main {
    &-award {
        background-color: #333333;
        width: 80%;
        margin: 50px auto 0 auto;
        padding: 20px 10px;

        p {
            text-align: center;
            @include text('Montserrat', 16px, none, none, white, 600, inherit);
        }
    }

    &-icons {
        background-color: #00c8c8;
        width: 80%;
        margin: 50px auto 0 auto;
        padding: 25px 10px;
        text-align: center;

        a {
            color: white;

        }

        i {
            margin-right: 10px;
            font-size: 20px;
        }
    }
}

.footer-foot {
    margin-top: 40px;
    background-color: #333333;
    text-align: center;
    padding-bottom: 20px;

    .footer-foot-avenue {
        padding: 15px 0;
    }

    p {
        @include text('Montserrat', 15px, none, none, #737373, 400, 25px)
    }
}


@media only screen and (min-width:768px) {
    .header-main {
        position: relative;
        background: url(../img/collection1.png);
        background-position: 100% 0%;
    }

    .header-top {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 0 15px;

        &-inner:nth-child(2) {
            display: flex;
            gap: 80px;
            justify-content: space-around;
        }

        &-inner-flex {
            width: 210px;
        }
    }

    .header-main-logo {
        margin: 0;
    }

    .header-top-korzinka-flex {
        width: 120px;
    }

    .header-top-korzinka-hover {
        left: -33px;
    }

    .header-menu input[type=checkbox]:checked~.header-menu-list {
        left: 60%;
    }

    .header-menu-list {
        width: 40%;
    }

    .header-menu-display {
        all: unset;

        p:nth-child(1) {
            position: absolute;
            font-size: 150px;
            top: 170px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 0;
        }

        p:nth-child(2) {
            a {
                position: absolute;
                text-align: center;
                top: 330px;
                left: 490px;
                width: 250px;
                font-size: 22px;
                font-weight: 700;
            }
        }
    }

    .navigate-block {
        @include flex(row, center, wrap, center);
        gap: 10px;

        .price {
            font-size: 18px;
            margin-left: 10px;
        }

        &-inner {
            width: 230px;

            &:hover {
                box-shadow: 10px 14px 45px 12px rgba(0, 0, 0, 0.2);

                .navigate-block-hover {
                    opacity: 1;
                }
            }
        }

        &-hover {
            display: block;
            opacity: 0;
            padding: 0 5px;
            position: static;
            background: none;
            height: auto;

            p:nth-child(1) {
                font-size: 15px;
                color: rgb(106, 106, 106);
            }

            p:nth-child(2) {
                font-size: 12px;
                color: rgb(127, 127, 127);
            }
        }
    }

    .look {
        .container {
            padding: 0;
        }
    }

    .look-block {
        @include flex(row, center, wrap, start);
        gap: 8px;
    }

    .look-block-items {
        @include flex(row, center, nowrap, start);
        width: 370px;
        height: 300px;
        gap: 20px;

        &-photo {
            img {
                width: 120px;
                height: 210px;
            }
        }
    }

    .footer-acc-items label {
        left: 4%;
    }

    .footer-acc input:checked~label::after {
        left: -11.1px;
    }

    .footer-acc-items-things {
        margin-left: 29px;
    }

    .footer-main {
        @include flex(row, space-around, nowrap, center);
        gap: 20px;
    }

    .footer-main-award {
        width: 40%;
    }

    .footer-main-icons {
        width: 40%;
        display: flex;
        text-align: center;
        gap: 20px;
        justify-content: center;
    }

    .footer-foot {
        padding-top: 30px;
        @include flex(row, space-around, nowrap, center);
    }
}

@media only screen and (min-width:1024px) {
    .modul {
        &-middle {
            width: 20%;
            height: 310px;

            p {
                font-size: 25px;
            }

            input:nth-child(2),
            input:nth-child(3),
            input:nth-child(4) {
                width: 80%;
                font-size: 20px;
                padding: 8px 5px;
                height: 45px;
            }

            &-btn {
                padding: 10px 0 0 0;

                button {
                    font-size: 22px;
                    padding: 5px 7px 3px 7px;
                }
            }
        }
    }

    .header-top {
        height: 50px;
        justify-content: space-between;
    }

    .header-top-inner:nth-child(2) {
        margin-right: 10%;
    }

    .header-top-korzinka-flex {
        height: 50px;
        top: -8px;
    }

    .header-main {
        padding-top: 25px;
        background-position: -130% 3%;
        height: 920px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header-main-flex {
        @include flex(row, space-around, nowrap, inherit);
    }

    .header-main-logo {
        flex-basis: 40%;
        text-align: start;
        margin: 0;
    }

    .menu-nav-label {
        display: none;
    }

    .header-menu {
        overflow: visible;
        flex-basis: 50%;
    }

    .header-menu-list {
        position: static;
        left: 300px;
        background: inherit;
        top: -31px;
        width: 750px;
        padding: 0;
        height: 50px;
        transition: none;

        li {
            display: inline-block;
            margin-right: 15px;

            p,
            a {
                color: black;
                line-height: 30px;
                font-weight: 600;
            }
        }
    }

    .header-menu-list-search label {
        left: 87%;
    }

    .men-input:checked+.header-menu-item {
        left: -10%;
    }

    .women-input:checked+.header-menu-item#women-list {
        left: -7%;
    }

    .book-input:checked+.header-menu-item#book-list {
        left: 35%;
    }

    .men-hover:hover .header-menu-item#men-list {
        display: block;
    }

    .women-hover:hover .header-menu-item#women-list {
        display: block;
    }

    .book-hover:hover .header-menu-item#book-list {
        display: block;
    }

    .header-menu-item {
        display: none;
        top: 30px;
        left: -10%;
        width: 450px;
        background-color: white;
        height: 400px;
        padding: 30px 50px 0 50px;
        z-index: 2;
        line-height: 0%;

        &-in {
            label {
                padding-right: 8px;
                color: black;
                font-weight: 600;
            }

        }
    }

    .header-menu-item#women-list {
        left: -7%;
    }

    .header-menu-item#book-list {
        left: 35%;
        padding: 30px 35px 0 35px;
        height: 350px;

        ul {
            left: 250px;
        }


        .header-menu-item-in label {
            padding-right: 25px;
        }

        .header-menu-item-discount p {
            width: 360px;
        }
    }

    .header-menu-item-casuals {
        left: 50px !important;
        width: 48% !important;

        li {
            display: block;
            text-align: start;

            a {
                font-size: 12px;
                color: #737373 !important;
                ;
            }
        }
    }

    #casual-word {
        padding-right: 206px !important;
    }

    .header-menu-item-formal {
        width: 10% !important;
        margin-top: -10px;

        li {
            display: block;
            text-align: start;

            a {
                font-size: 12px;
                color: #737373 !important;
                ;

            }
        }
    }

    .header-menu-item ul {
        background: inherit
    }

    .header-menu-item-discount p {
        background: #333333;
        color: white !important;
        font-size: 30px !important;
        line-height: 35px !important;
        font-weight: 600 !important;
        width: 350px;
        padding: 25px 35px;
        margin: 20px 0 0 -22px;
    }

    #formal-discount {
        display: none;
    }

    .header-menu-item-flex {
        @include flex(row, space-around, nowrap, center);
    }

    .men-cancel,
    .women-cancel,
    .book-cancel,
    .casual-cancel,
    .formal-cancel,
    .ourbook-cancel,
    .mybook-cancel {
        display: none;
    }

    .header-menu-item-ourbooks {
        padding-top: 60px !important;
        left: 50px !important;
        width: 48% !important;

        li {
            display: block;
            text-align: start;

            a {
                font-size: 12px;
                color: #737373 !important;
                ;
            }
        }
    }

    .header-menu-item-mybooks {
        width: 40% !important;
        padding-top: 60px !important;

        li {
            display: block;
            text-align: start;

            a {
                font-size: 12px;
                color: #737373 !important;
                ;

            }
        }
    }

    .header-menu-display {
        p:nth-child(1) {
            top: 380px;
            font-size: 430px !important;
            font-weight: 550;
        }

        p:nth-child(2) {
            text-align: end;

            a {
                top: 78%;
                width: 350px;
                padding: 10px 15px;
                font-weight: 550;
                font-size: 20px;
                left: 61%;
            }
        }
    }

    .navigate-block {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 500px 173px 220px;
        grid-column-gap: 5px;
        grid-row-gap: 0px;
        align-items: start;
        padding: 0 15px;

        .navigate-block-inner:nth-child(1) {
            .navigate-block-inner-back {
                background-color: #f7f7f7;
            }

            img {
                width: 257px;
                height: 300px;
            }
        }

        .navigate-block-inner:nth-child(2) {
            .navigate-block-inner-back {
                background-color: #f7f7f7;
            }

            img {
                width: 257px;
                height: 300px;
            }
        }

        .navigate-block-inner:nth-child(3) {
            .navigate-block-inner-back {
                background-color: #f7f7f7;
            }

            grid-column-start: 3;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 3;

            img {
                width: 300px;
            }
        }

        .navigate-block-inner:nth-child(4) {
            .navigate-block-inner-back {
                background-color: #f7f7f7;
            }

            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 4;
            margin-top: -70px;

            img {
                width: 300px;
            }
        }

        .navigate-block-inner:nth-child(5) {
            .navigate-block-inner-back {
                background-color: #f7f7f7;
            }

            grid-column-start: 3;
            grid-column-end: 4;
            margin-top: -186px;

            img {
                width: 257px;
                height: 300px;
            }
        }

        .navigate-block-inner:nth-child(6) {
            .navigate-block-inner-back {
                background-color: #f7f7f7;
            }

            grid-column-start: 4;
            margin-top: -186px;

            img {
                width: 257px;
                height: 300px;
            }
        }

        .price {
            font-size: 25px;
        }

        &-inner {
            all: unset;

            img {
                all: unset;
            }
        }

        &-hover {
            background-color: #fff;
            padding-bottom: 10px;

            p:nth-child(1) {
                font-size: 16px;
                line-height: 35px;
            }

            p:nth-child(2) {
                font-size: 15px;
            }

            #order:hover {
                background-color: #00c8c8;
                transition: 0.5s all linear;
            }

            #like:hover {
                background-color: red;
                transition: 0.5s all linear;
            }

            #booking:hover {
                background-color: rgb(223, 64, 7);
                transition: 0.5s all linear;
            }
        }
    }

    .look-block {
        gap: 10px;
        padding: 0 15px;

        &-items {
            width: 430px;
            height: 350px;

            &-photo {
                img {
                    width: 150px;
                    height: 300px;
                }
            }
        }
    }

    .look-items-inner {
        &-logo {
            text-align: right;
            font-size: 25px;
        }

        &-usual {
            text-align: right;
            font-size: 25px;
            margin: 15px 0 10px 0;
        }

        &-text {
            text-align: right;
            font-size: 15px;
            line-height: 25px;
        }

        &-view {
            margin-left: 32%;
            font-size: 20px;
            width: 150px;
            padding: 10px 0;
        }
    }

    .footer-acc {
        margin-top: 4%;
        background: #f8f8f8;

        &-flex {
            display: flex;
            justify-content: center;
            // margin-left: 40px;
        }
    }

    .footer-acc-items {
        margin-left: -35px;

        label {
            color: #333333;
            font-size: 17px;
            width: 100%;
            margin: 0 0 20px 17px;

            &::before,
            &::after {
                display: none;
            }
        }

        &-things {
            width: 200px;
            height: 210px;
            padding: 0 !important;


            a {
                color: #222;
                font-size: 15px;
                line-height: 33px;
            }

            p {
                color: #222;
                font-size: 15px;
            }
        }
    }

    .footer-main {
        justify-content: center;
        gap: 0;
        margin-top: -80px;
    }

    .footer-main-award {
        height: 200px;
        padding: 0;
        width: 40%;
        padding-top: 50px;

        p {
            font-size: 30px;
            line-height: 45px;

            &:nth-child(2) {
                font-weight: 300;
            }
        }
    }

    .footer-main-icons {
        width: 40%;
        height: 200px;
        padding-top: 80px;
        gap: 70px;

        a {
            i {
                font-size: 35px;
            }
        }
    }

    .footer-foot {
        padding: 10px 65px 0 65px;
        justify-content: space-between;

        p {
            font-size: 15px;
        }

        &-flex {
            display: flex;
            gap: 20px;
        }
    }
}