@import "mixin";
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1100px;
}

.modul {
    position: fixed;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;

    &-middle {
        background-color: white;
        width: 80%;
        border-radius: 18px;
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;

        p {
            text-align: center;
            padding: 10px 0;
            border-top-left-radius: 18px;
            border-top-right-radius: 18px;
            background-color: #111111;
            color: white;
            width: 100%;
            font-family: "Raleway", sans-serif;
        }

        input:nth-child(2) {
            width: 70%;
            margin: 20px auto 10px auto;
            height: 25px;
            border-radius: 5px;
            border: 1px solid #b0b0b0;
            font-family: "Open Sans", sans-serif;
            padding: 0 5px;
        }

        input:nth-child(3) {
            width: 70%;
            margin: 5px auto 10px auto;
            height: 25px;
            font-family: "Open Sans", sans-serif;
            padding: 0 5px;
            border-radius: 5px;
            border: 1px solid #b0b0b0;
        }

        input:nth-child(4) {
            width: 70%;
            margin: 5px auto 10px auto;
            height: 25px;
            font-family: "Open Sans", sans-serif;
            padding: 0 5px;
            border-radius: 5px;
            border: 1px solid #b0b0b0;
        }
    }

    &-middle-btn {
        display: flex;
        justify-content: space-around;

        button {
            background-color: #111111;
            color: white;
            border: 1px solid #111111;
            padding: 5px;
            cursor: pointer;
            border-radius: 5px;
            font-family: 'Open Sans', sans-serif;

            &:hover {
                background-color: white;
                color: #111111;
            }
        }
    }
}

.header {
    position: relative;
    height: 360px;

    &-logo {
        text-align: center;
        overflow: hidden;
        margin: 15px auto;
        width: 10em;

        span {
            @include text('Raleway', 22px, uppercase, none, black, 400, inherit);
            display: inline-block;
            position: relative;
            animation: letterReplacement 5s infinite;
            animation-direction: alternate;

            &:nth-child(1) {
                animation-delay: 0s;
            }

            &:nth-child(2) {
                animation-delay: 0.5s;
            }

            &:nth-child(3) {
                animation-delay: 1s;
            }

            &:nth-child(4) {
                animation-delay: 1.5s;
            }

            &:nth-child(5) {
                animation-delay: 2s;
            }

            &:nth-child(6) {
                animation-delay: 2.5s;
            }

            &:nth-child(7) {
                animation-delay: 3s;
            }

            &:nth-child(8) {
                animation-delay: 3.5s;
            }
        }

        @keyframes letterReplacement {
            0% {
                opacity: 1;
            }

            12.5% {
                opacity: 0;
                transform: translateX(-100%);
            }

            25% {
                opacity: 0;
                transform: translateX(-100%);
            }

            37.5% {
                opacity: 0;
                transform: translateX(-100%);
            }

            50% {
                opacity: 0;
                transform: translateX(-100%);
            }

            62.5% {
                opacity: 0;
                transform: translateX(-100%);
            }

            75% {
                opacity: 0;
                transform: translateX(-100%);
            }

            87.5% {
                opacity: 0;
                transform: translateX(-100%);
            }

            100% {
                opacity: 1;
                transform: translateX(0);
            }
        }

    }

    &-block-menu {
        width: 100%;

        label {
            span {
                position: absolute;
                right: 15px;
                width: 20px;
                height: 2px;
                top: 21px;
                background-color: black;
                transition: 0.5s all linear;

                &:nth-child(2) {
                    margin-top: 7px;
                }

                &:nth-child(3) {
                    margin-top: 14px;
                }
            }
        }

        input {
            display: none;

            &:checked~ul {
                bottom: 19%;
                opacity: 1;
            }

            &:checked~label span:nth-child(1) {
                transform: rotate(675deg);
                margin-top: 10px;
            }

            &:checked~label span:nth-child(2) {
                display: none;
            }

            &:checked~label span:nth-child(3) {
                margin-top: 10px;
                transform: rotate(-675deg);
            }
        }

        ul {
            position: absolute;
            width: 100%;
            height: 250px;
            left: 0%;
            bottom: 115%;
            opacity: 0;
            background-color: #343a40;
            list-style: none;
            text-align: center;
            padding: 60px 0 40px 0;
            transition: 0.5s all linear;
            z-index: 2;

            a {
                @include text('Raleway', 20px, none, none, white, 400, 40px);
            }

            i {
                color: white;
            }
        }
    }

    &-block-display {
        position: absolute;
        background: url(../img/brand2.png) no-repeat;
        height: 250px;
        left: 0;
        right: 0;
        width: 100%;
        background-size: 100% 100%;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 250px;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
}

.main {
    position: relative;

    &-nav {
        @include flex(column, unset, nowrap, start);

        &-each {
            @include flex(row, space-around, nowrap, center);
            margin: 15px 0;

            label {
                @include text('Raleway', 15px, none, none, black, 400, inherit);

                &::after {
                    content: ':';
                }
            }

            input {
                position: absolute;
                right: 15px;
                padding: 5px 15px 5px 5px;
                font-size: 15px;
                font-family: 'Raleway';
            }
        }

        &-items {
            margin-top: 20px;

            label {
                @include text('Raleway', 15px, none, none, black, 400, inherit);

                &::after {
                    content: ':';
                }
            }

            textarea {
                margin-top: 6px;
                padding: 5px 15px;
                width: 100%;
                height: 150px;
                font-size: 15px;
                font-family: 'Raleway';
            }
        }
    }

    button {
        @include text('Raleway', 14px, capitalize, none, white, 400, inherit);
        background-color: #007bff;
        border-color: #007bff;
        padding: 10px;
        border-radius: 5px;
        letter-spacing: 0.5px;
        margin: 20px 0;
    }
}

.footer {
    &-inner {
        @include flex(row, inherit, nowrap, inherit);
        gap: 30px;
    }

    &-inner-table {
        @include flex(column, inherit, nowrap, inherit);

        p {
            @include text('Open Sans', 20px, none, none, #111111, 400, 45px);

            &::after {
                content: ':';
            }
        }
    }

    &-inner-local {
        margin-top: 0px;

        li {
            gap: 5px;
            display: flex;
            flex-direction: column;

            img {
                border-radius: 50%;
                width: 50px;
                height: 50px;
            }

            p {
                @include text('Open Sans', 20px, none, none, #6c6c6c, 400, 35px);

                &:nth-child(4) {
                    margin-top: 5px;
                }
            }

            div {
                @include flex(column, inherit, nowrap, inherit);
            }

            .edit {
                @include text('Open Sans', 16px, capitalize, none, white, 400, inherit);
                background-color: #007bff;
                border-color: #007bff;
                padding: 3px 10px;
                border-radius: 5px;
                letter-spacing: 0.5px;
                margin: 10px 0;
            }

            .delete {
                @include text('Open Sans', 16px, capitalize, none, white, 400, inherit);
                background-color: #dc3545;
                border-color: #dc3545;
                padding: 3px 13px;
                border-radius: 5px;
                letter-spacing: 0.5px;
            }
        }
    }
}


@media only screen and (min-width:768px) {
    .header {
        height: 80px;
    }

    .header-block {
        &-menu {
            input:checked~ul {
                bottom: 5%;
                z-index: 1;
            }

            input:checked~label span {
                top: 10px;
                z-index: 2;
                background: white;
            }

            ul {
                height: 100px;
                padding-top: 45px;

                li {
                    display: inline-block;
                    margin-right: 15px;

                    &:nth-child(2) {
                        margin-top: -15px;
                    }
                }
            }
        }
    }

    .header-block-display {
        display: none;
    }

    .main {
        background: #f5f5fa;

        &-nav {
            flex-direction: row;
            justify-content: inherit;
            justify-content: center;
            gap: 25px;

            &-each {
                width: 210px;
                flex-direction: column;
                justify-content: start;
                gap: 10px;

                label {
                    margin-left: -150px;

                    &::after {
                        content: '';
                    }
                }

                input {
                    position: static;
                    border: 1px solid #ced4da;
                }
            }

            &-items {
                margin: 15px auto 0 auto;
                width: 90%;

                textarea {
                    border: 1px solid #ced4da;
                }
            }
        }

        button[id="add"] {
            margin-left: 35px;
        }
    }

    .footer {
        background: #f5f5fa;

        &-inner {
            display: block;
        }

        &-inner-table {
            border-top: 1px solid #b0b0b0;
            border-bottom: 1px solid #b0b0b0;
            flex-direction: row;
            justify-content: center;
            gap: 70px;

            p {
                &::after {
                    content: '';
                }
            }
        }

        &-inner-local {
            li {
                margin-top: 15px;
                flex-direction: row;
                justify-content: center;
                gap: 70px;

                div {
                    flex-direction: row;
                    align-items: center;
                    gap: 55px;
                    margin-left: 20px;
                }
            }

        }
    }


}

@media only screen and (min-width:1024px) {
    .modul {
        &-middle {
            width: 20%;
            height: 310px;

            p {
                font-size: 20px;
            }

            input:nth-child(2),
            input:nth-child(3),
            input:nth-child(4) {
                width: 80%;
                font-size: 16px;
                padding: 8px 5px;
                height: 45px;
            }

            &-btn {
                padding: 10px 0 0 0;

                button {
                    font-size: 22px;
                    padding: 5px 7px 3px 7px;
                }
            }
        }
    }
    .header{
        height: 0;
    }
    .header-logo {
        display: none;
    }

    .header-block {
        &-menu {
            label {
                display: none;
            }

            ul {
                position: fixed;
                height: 100%;
                width: 18%;
                top: 0;
                bottom: 0;
                padding: 10% 0 0 45px;
                opacity: 1;

                li {
                    display: block;
                    text-align: start;
                    line-height: 55px;

                    a {
                        font-size: 25px;
                    }

                    &:nth-child(2) {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    .main {
        left: 10%;
        width: 90%;
        padding-top: 5%;

        &-nav {
            all: unset;
            @include flex(row,center,nowrap,center);
            gap: 20px;
            &-each {
                all: unset;
                @include flex(column, center, nowrap, center);
                gap: 10px;
                margin: 15px 0;
                &:nth-child(3) {
                    label {
                        margin-left: -95px;
                    }
                }

                label {
                    font-size: 17px;
                    margin-left: -127px;
                }

                input {
                    width: 175px;
                    font-size: 17px;
                }
            }

            &-items {
                width: 80%;

                label {
                    font-size: 17px;
                }
            }

        }

        button[id="add"] {
            margin-left: 10%;
            font-size: 17px;
        }
    }
    .main-block{
        width: 700px;
        margin: auto;
    }
    .footer {
        background: #f5f5fa;
        padding: 70px 0 107px 0;
        margin-left: 15%;
        border: none;

        &-inner-table {
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            p {
                font-size: 20px;

                &:nth-child(2) {
                    margin-left: 3%;
                }

                &:after {
                    content: ''
                }

            }
        }

        .footer-inner-local {
            margin-left: 2%;

            li {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin-top: 15px;

                img {
                    width: 70px !important;
                    height: 70px !important;
                }

                p {
                    font-size: 18px !important;
                }

                div {
                    margin: 0;
                }

                .edit {
                    padding: 5px 30px;
                    font-size: 17px;
                }

                .delete {
                    padding: 5px 30px;
                    font-size: 17px;
                }
            }
        }
    }
}